Cool-ometer/Sentiment Flow.JSON
[{"id":"6a26b4e9.95d94c","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"250","bin":"false","out":"time","addchar":"false"},{"id":"24e36a64.db1c96","type":"serial out","name":"Arduino","serial":"6a26b4e9.95d94c","x":786.4166107177734,"y":143.00000286102295,"z":"555ad.fffaaa53","wires":[]},{"id":"5491d486.ab6e2c","type":"inject","name":"","topic":"","payload":"a--HELLO----","payloadType":"string","repeat":"60","crontab":"","once":false,"x":577.1666107177734,"y":128.00000190734863,"z":"555ad.fffaaa53","wires":[["24e36a64.db1c96"]]},{"id":"e05251bb.1fadb","type":"inject","name":"","topic":"","payload":"a--SERVO000-","payloadType":"string","repeat":"","crontab":"","once":false,"x":572.6904296875,"y":169.1428680419922,"z":"555ad.fffaaa53","wires":[["24e36a64.db1c96"]]},{"id":"de68b802.219748","type":"serial in","name":"","serial":"6a26b4e9.95d94c","x":557.28564453125,"y":335.5714111328125,"z":"555ad.fffaaa53","wires":[["187e221f.e781de"]]},{"id":"187e221f.e781de","type":"debug","name":"","active":false,"console":false,"complete":false,"x":729.428466796875,"y":335.4285583496094,"z":"555ad.fffaaa53","wires":[]},{"id":"ee605d97.119fa","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":392.3333206176758,"y":586.6666355133057,"z":"555ad.fffaaa53","wires":[["ea59aa4d.15a658"]]},{"id":"ea59aa4d.15a658","type":"http request","name":"","method":"GET","url":"http://sentiment.eu-gb.mybluemix.net/getsentiment","x":545.6666526794434,"y":586.6666049957275,"z":"555ad.fffaaa53","wires":[["49d25e60.b62da"]]},{"id":"49d25e60.b62da","type":"json","name":"","x":695.6666666666666,"y":586.6666361490884,"z":"555ad.fffaaa53","wires":[["64b51571.9b4aec","b2bab99e.4d4548"]]},{"id":"64b51571.9b4aec","type":"debug","name":"","active":false,"console":false,"complete":false,"x":860.9999694824219,"y":519.6666107177734,"z":"555ad.fffaaa53","wires":[]},{"id":"b2bab99e.4d4548","type":"function","name":"","func":"var degrees=180-parseInt((msg.payload.average*18)/10);\nvar LLAPmsg=degrees.toString();\nif (degrees<10) {\n\tLLAPmsg=\"00\" + LLAPmsg;\n} else if (degrees<100) {\n\tLLAPmsg=\"0\" + LLAPmsg;\n}\nLLAPmsg=\"a--SERVO\" + LLAPmsg + \"-\";\nmsg.payload=LLAPmsg;\nreturn msg;","outputs":1,"x":857.6666564941406,"y":587.3332977294922,"z":"555ad.fffaaa53","wires":[["e35e535d.1ca1b","978fe9da.687018"]]},{"id":"e35e535d.1ca1b","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1021.9999694824219,"y":521.9999542236328,"z":"555ad.fffaaa53","wires":[]},{"id":"978fe9da.687018","type":"serial out","name":"Arduino","serial":"6a26b4e9.95d94c","x":1048.9999694824219,"y":587.6665802001953,"z":"555ad.fffaaa53","wires":[]},{"id":"b96fc2f0.46904","type":"comment","name":"Query cloud service via REST api and update Arduino via LLAP serial message","info":"","x":701.5181884765625,"y":463.5228729248047,"z":"555ad.fffaaa53","wires":[]},{"id":"37434f4b.c8bcb","type":"comment","name":"Show response from Arduino","info":"","x":630.5181884765625,"y":267.52288818359375,"z":"555ad.fffaaa53","wires":[]},{"id":"43ce23ba.bc31dc","type":"comment","name":"Send test LLAP messages to Arduino","info":"","x":633.5181884765625,"y":70.52290344238281,"z":"555ad.fffaaa53","wires":[]}]