Sonos readout of Weather each morning/Sonos readout of Weather each morning.json
[{"id":"f77d42f3.0882c","type":"function","name":"SONOS Bedroom","func":"var text = msg.payload;\n\n/*\ninstall sonos Javascript -> https://www.npmjs.org/package/sonos\n\nExpand settings.js with sonos Context :   functionGlobalContext: {wpi: require('wiring-pi'), sonos:require('sonos')}\n\nSome functions (see https://www.npmjs.org/package/sonos)\n\nsonos.getCurrentState(function(err, track) {\nconsole.log(err, track);\n });\nsonos.currentTrack(function(err, track) {\n  console.log(err, track);\n});\nsonos.getMusicLibrary('playlists', {start: 0, total: 25}, function(err, result){\n  console.log([err, result]);\n  });\nsonos.play('caz_audio_01', function(err, playing) {\n  console.log([err, playing]);\n});\n*/\n// See SONOS program , INFO over Sonos voor IP numbers\nvar sonos = new context.global.sonos.Sonos('192.168.1.82');\n\n//Replace all spaces with a _ because Sonos doesn't support spaces\ntext = text.replace(/ /g,'_');\n\n//For supported languages see www.voicerss.org/api/documentation.aspx\n//This url just redirects to voices because of the specific url format for the sonos\n//var url = 'http://translate.google.com/translate_tts?tl=en&q=' + encodeURIComponent(text) + '.mp3';\nvar url = 'http://i872953.iris.fhict.nl/speech/en-uk_' + encodeURIComponent(text)+'.mp3';\n\nconsole.log(url);\n\nsonos.play(url, function(err, playing) {\n  console.log([err, playing]);\n});\nconsole.log('finished');","outputs":1,"x":1461.0000228881836,"y":485.25000762939453,"z":"a09e5e52.5f61a","wires":[[]]},{"id":"a914a87c.56eb58","type":"inject","name":"7 every day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1-5","once":false,"x":143,"y":591,"z":"a09e5e52.5f61a","wires":[["e19500a0.1e6b"]]},{"id":"e19500a0.1e6b","type":"http request","name":"","method":"GET","url":"http://open.live.bbc.co.uk/weather/feeds/en/2641689/3dayforecast.rss","x":316,"y":589,"z":"a09e5e52.5f61a","wires":[["ee45e3e7.11ba2"]]},{"id":"fb99a0ab.04666","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nvar now = Date();\nmsg.payload = msg.payload.rss.channel[0].item[0].title[0] + \" @ \" + now;\n//console.log(msg.payload);\nreturn msg;","outputs":"1","x":588.0000610351562,"y":591,"z":"a09e5e52.5f61a","wires":[["6bf1766e.940e88","a627ad70.59d85","d9406dd4.26bf9"]]},{"id":"2de167d.fd21e98","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":996,"y":583,"z":"a09e5e52.5f61a","wires":[["ffc0f3ad.003f1"]]},{"id":"ee45e3e7.11ba2","type":"xml","name":"","x":458,"y":591,"z":"a09e5e52.5f61a","wires":[["fb99a0ab.04666"]]},{"id":"6bf1766e.940e88","type":"template","name":"","field":"payload","template":"Good morning  ","x":873,"y":434,"z":"a09e5e52.5f61a","wires":[["ffc0f3ad.003f1"]]},{"id":"ffc0f3ad.003f1","type":"function","name":"Remove punctuation ","func":"var res=msg.payload.replace(/[\\.,-\\/#!$%\\^&\\*;:{}=\\-_`~()?@]/g,'');\nmsg.payload=res;\nreturn msg;","outputs":1,"x":1240,"y":485,"z":"a09e5e52.5f61a","wires":[["f77d42f3.0882c","45d884c3.ba277c"]]},{"id":"45d884c3.ba277c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1419.5000190734863,"y":434.2500057220459,"z":"a09e5e52.5f61a","wires":[]},{"id":"a627ad70.59d85","type":"function","name":"Edit weather","func":"var str = msg.payload;\nstr=str.replace('°C',' degrees centigrade ');\n\nvar res = str.split(\"(\");\n\n\n\nmsg.payload=res[0];\nreturn msg;","outputs":1,"x":817,"y":609,"z":"a09e5e52.5f61a","wires":[["2de167d.fd21e98"]]},{"id":"d9406dd4.26bf9","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":875,"y":501,"z":"a09e5e52.5f61a","wires":[["3f93adca.c06c52"]]},{"id":"3f93adca.c06c52","type":"template","name":"","field":"payload","template":"Here is the weather","x":1009,"y":499,"z":"a09e5e52.5f61a","wires":[["ffc0f3ad.003f1"]]},{"id":"67db02c7.9824fc","type":"inject","name":"8 Sat and Sun","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 0,6","once":false,"x":166,"y":517,"z":"a09e5e52.5f61a","wires":[["e19500a0.1e6b"]]},{"id":"344e82a1.cbb17e","type":"comment","name":"Uses  text-to-speech and Sonos node to read Newbury Weather at 7 or 8 am. Open this for more installation requirements.","info":"Need to add the Sonos node to the Settings.js file (or equivalent thethingbox.js or bluemix.js). \nThis is to put the node module in the global context when node-red starts.\n\n\n    functionGlobalContext: {\n        // os:require('os'),\n        // bonescript:require('bonescript'),\n        // arduino:require('duino')\n        sonos:require('sonos')\n    }","x":609,"y":362,"z":"a09e5e52.5f61a","wires":[]}]