Directions using Googlemapsutil/Directions using Googlemapsutil.json
[{"id":"3a836688.c57c9a","type":"function","name":"","func":"// call api\nvar gmaputil = context.global.gmaputil;\ncontext.global.result=null;\nvar start=msg.payload.start;\nvar end=msg.payload.end;\nmsg.payload=null;\nvar result=null;\n// call api from class object\nvar cb = function(err, result) {\n  if (err) {\n    console.log(err);\n  }\n  console.log(result);\n  context.global.result=result;\n  \n};\nconsole.log(\"Start=======================================\");\nconsole.log(start);\nconsole.log(\"End=======================================\");\nconsole.log(end);\n// directions api sample\ngmaputil.directions(start, end, null, cb);\n\n\n\nreturn msg","outputs":1,"x":363,"y":290,"z":"6ca6b984.935948","wires":[["d831beb6.27ce4"]]},{"id":"9eeef66e.611108","type":"inject","name":"","topic":"","payload":"{\"start\":\"RG146BN\",\"end\":\"LD15NW\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":186,"y":174,"z":"6ca6b984.935948","wires":[["ac909d86.536f6"]]},{"id":"4a7e2cf4.b581d4","type":"function","name":"","func":"if (context.global.result != null){\n\tmsg.payload=context.global.result;\n\t}\n\t\nreturn msg;","outputs":1,"x":647,"y":269,"z":"6ca6b984.935948","wires":[["580e3b17.a7f1c4","38c0f198.c73f0e"]]},{"id":"580e3b17.a7f1c4","type":"switch","name":"","property":"payload","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":819,"y":264,"z":"6ca6b984.935948","wires":[["c7cacd33.38353","e213ec7e.1dec1"],["541345cb.abecbc"]]},{"id":"541345cb.abecbc","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":772,"y":389,"z":"6ca6b984.935948","wires":[["4a7e2cf4.b581d4"]]},{"id":"38c0f198.c73f0e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":805,"y":157,"z":"6ca6b984.935948","wires":[]},{"id":"d831beb6.27ce4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":497,"y":273,"z":"6ca6b984.935948","wires":[["4a7e2cf4.b581d4"]]},{"id":"916320ee.6e9ce","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1294,"y":229,"z":"6ca6b984.935948","wires":[]},{"id":"c7cacd33.38353","type":"file","name":"","filename":"testjson","appendNewline":true,"overwriteFile":true,"x":1058,"y":317,"z":"6ca6b984.935948","wires":[]},{"id":"e213ec7e.1dec1","type":"json","name":"","x":952,"y":227,"z":"6ca6b984.935948","wires":[["25e7536e.da18ac"]]},{"id":"25e7536e.da18ac","type":"function","name":"","func":"var leg,duration,distance;\nleg=msg.payload.routes[0].legs[0];\nduration=leg.duration.text;\nconsole.log(\"duration----------------------------------------------------\");\nconsole.log(duration);\ndistance=leg.distance.text;\nconsole.log(\"distance----------------------------------------------------\");\nconsole.log(distance);\n\n\nmsg.duration=duration;\nmsg.distance=distance;\nmsg.payload={duration:duration, distance:distance};\nreturn msg;\n","outputs":1,"x":1088,"y":235,"z":"6ca6b984.935948","wires":[["916320ee.6e9ce"]]},{"id":"ac909d86.536f6","type":"json","name":"","x":471,"y":192,"z":"6ca6b984.935948","wires":[["3a836688.c57c9a"]]},{"id":"5d212b06.a2ded4","type":"comment","name":"Simple test flow to use Google Directions API to find the distance between two postcodes. Open this for more installation requirements.","info":"Need to add the googlemapsutil to the Settings.js file (or equivalent thethingbox.js or bluemix.js. \nThis is to put the node module in the global context when node-red starts.\n\n\n    functionGlobalContext: {\n        // os:require('os'),\n        // bonescript:require('bonescript'),\n        // arduino:require('duino')\n        gmaputil:require('googlemapsutil')\n    }","x":577,"y":91,"z":"6ca6b984.935948","wires":[]}]