CloudQuizmaster/Quizmaster Flow.JSON
[{"id":"3a27ca80.f15b36","type":"websocket-listener","path":"/ws/answers","wholemsg":"false"},{"id":"1059014a.bfda93","type":"websocket out","name":"","server":"3a27ca80.f15b36","x":801.6700439453125,"y":243,"z":"ac3d9008.466cd","wires":[]},{"id":"71b36cc6.51ca38","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\t\ncontext.global.answer=msg.payload;\n\nreturn msg;","outputs":1,"x":558.3299560546875,"y":206.33999633789062,"z":"ac3d9008.466cd","wires":[["1059014a.bfda93"]]},{"id":"a6d26ff7.1af018","type":"websocket in","name":"","server":"3a27ca80.f15b36","x":329.3299560546875,"y":296.3399963378906,"z":"ac3d9008.466cd","wires":[["75e060e2.f9689c"]]},{"id":"75e060e2.f9689c","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.answer;\nreturn msg; ","outputs":1,"x":562.3299560546875,"y":300.3399963378906,"z":"ac3d9008.466cd","wires":[["1059014a.bfda93"]]},{"id":"72e3afe3.0ecca4","type":"template","name":"Web Page for Quiz Master","field":"","template":"<!doctype html>\n<html class=\"no-js\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Quiz Master</title>\n    <meta name=\"description\" content=\"\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n\t<style>\n\t\t.children{\n\t\tposition: relative;\n\t\ttop: 50%;\n\t\ttransform: \t\t\ttranslateY(-50%);\n\t\t}\n\t\t.person {\n\t\tposition:absolute; \n\t\tbackground-color:gray; \n\t\theight:70px; \n\t\twidth:650px; \n\t\tpadding:25px;\n\t\t}\n\t\t.textdisplay {\n\t\tbackground-color:white; \n\t\tpadding:15px;\n\t\t}\n\t\t.textdisplayname {\n\t\tbackground-color:white; \n\t\tpadding:15px;\n\t\t}\n\n\t</style>\n\n  </head>\n<body> \n    <div class=\"container\">\n      <div class=\"header\">\n        <ul class=\"nav nav-pills pull-right\">\n          <li class=\"active\"><a id=\"resetBtn\" href=\"#\">Reset</a></li>\n          <li class=\"active\"><a id=\"showBtn\" href=\"#\">Show</a></li>\n          <li class=\"active\"><a id=\"hideBtn\" href=\"#\">Hide</a></li>\n        </ul>\n        <h3 class=\"text-muted\">Quiz Master</h3>\n      </div>\n \n\t  <div id=\"answers\">\n\t  \n\t  \n\t\t\n\t  </div>\n  </div>\n  \n  <script src=\"//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n  var socketaddy = \"ws://quiz.mybluemix.net/ws/answers\";\n    var answerArray=[];\n    var answer;\n    var sock;\n    $(document).ready(function(){\n      sock = new WebSocket(socketaddy); \n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n      \t//alert(evt.data);\n        answer = JSON.parse(evt.data);\n        answerArray.push(answer);\n        var theHtml=\"<div style=\\\"top: \"+((answerArray.length*100))+ \"px;\\\" class=\\\"person\\\"><span class=\\\"children\\\">Name: &nbsp;<span class=\\\"textdisplayname\\\">\" + answer.name + \"</span>&nbsp;&nbsp; Answer: &nbsp;<span class=\\\"textdisplay\\\" >\" + answer.answer + \"</span></span></div>\";\n        $(\"#answers\").append(theHtml);\n        }\n\t});\n   \nfunction resetClicked(){\n\tanswerArray=[];\n\t$(\"#answers\").html(\"\");\n}   \n\n\nfunction getStyleRule(name) {\n  for(var i=0; i<document.styleSheets.length; i++) {\n    var ix, sheet = document.styleSheets[i];\n    for (ix=0; ix<sheet.cssRules.length; ix++) {\n        if (sheet.cssRules[ix].selectorText === name)\n            return sheet.cssRules[ix].style;\n    }\n  }\nreturn null;\n}\n\n\nfunction hideClicked(){\n\t\t\n\t\t\n\tvar rule = getStyleRule('.textdisplay');\n\trule.visibility=\"hidden\";\n\n}   \nfunction showClicked(){\n\tvar rule = getStyleRule('.textdisplay');\n\trule.visibility=\"visible\";\n}   \n$(\"#resetBtn\").click(resetClicked);   \n$(\"#hideBtn\").click(hideClicked);   \n$(\"#showBtn\").click(showClicked);   \n  </script>\n  \n    \n\t\n\n\t<!-- Latest compiled and minified CSS -->\n\t<link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css\">\n\n\t<!-- Optional theme -->\n\t<link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css\">\n\n\t<!-- Latest compiled and minified JavaScript -->\n\t<script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js\"></script>\n\t\n</body>\n</html>","x":530.3299865722656,"y":405.3399963378906,"z":"ac3d9008.466cd","wires":[["4dfd56af.1a14a8"]]},{"id":"4dfd56af.1a14a8","type":"http response","name":"","x":714.3299865722656,"y":405.3399963378906,"z":"ac3d9008.466cd","wires":[]},{"id":"977fdffa.f6098","type":"http in","name":"","url":"/quizmaster","method":"get","x":309.3299865722656,"y":410.3399963378906,"z":"ac3d9008.466cd","wires":[["72e3afe3.0ecca4"]]},{"id":"d32407c2.17a008","type":"debug","name":"","active":true,"console":false,"complete":false,"x":685,"y":159,"z":"ac3d9008.466cd","wires":[]},{"id":"38ec9631.c1e3de","type":"inject","name":"Test answer","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":242.66000366210937,"y":190.33999633789062,"z":"ac3d9008.466cd","wires":[["71b36cc6.51ca38"]]},{"id":"c77724aa.13f928","type":"http in","name":"","url":"/answer","method":"get","x":270.6700134277344,"y":87.67001342773437,"z":"ac3d9008.466cd","wires":[["d32407c2.17a008","1e28bc71.eadce","71b36cc6.51ca38"]]},{"id":"1e28bc71.eadce","type":"http response","name":"","x":731.330078125,"y":89.00999450683594,"z":"ac3d9008.466cd","wires":[]},{"id":"2f989de1.9a9cae","type":"template","name":"Web Page for Quiz Client","field":"","template":"<!doctype html>\n<html class=\"no-js\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Quiz Client</title>\n    <meta name=\"description\" content=\"\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->\n    <!-- build:css(.) styles/vendor.css -->\n    <!-- bower:css -->\n    \n    <!-- endbower -->\n    <!-- endbuild -->\n    <!-- build:css(.tmp) styles/main.css -->\n    \n\t<!-- Latest compiled and minified CSS -->\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css\">\n\n\t<!-- Optional theme -->\n\t<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css\">\n    <!-- endbuild -->\n  </head>\n  <body>\n    <!--[if lt IE 10]>\n      <p class=\"browsehappy\">You are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade your browser</a> to improve your experience.</p>\n    <![endif]-->\n\n\n    <div class=\"container\">\n      <div class=\"header\">\n        <ul class=\"nav nav-pills pull-right\">\n          <li class=\"active\"><a href=\"#\" id=\"question\">Refresh</a></li>\n          <!--<li><a href=\"#\">Hello</a></li>\n          <li><a href=\"#\">Letser</a></li>-->\n        </ul>\n        <h3 class=\"text-muted\">Quiz client</h3>\n      </div>\n\n\n\n      <div class=\"container\">\n\t  \t\t<div class=\"row\">\n\t\t\t<div class=\"panel col-lg-9 col-sm-9 col-md-9 col-lg-offset-1 col-sm-offset-1 col-md-offset-1\" style=\"background-color:gray; height:70px\">\n\t\t\t\t <h4></h4>\n\t\t\t\t <div style=\"float:left;\"><h4>Name: &nbsp;</h4></div><div ><input type=\"textbox\" id=\"name\" style=\"height:40px; width:70%\" id=\"name\" ></input></div>\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div id=\"panel1\" class=\"panel col-lg-4 col-sm-4 col-md-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1\" style=\"background-color:gray; height:170px\">\n\t\t\t\t <h4></h4>\n\t\t\t\t <h4>Answer:</h4>\n\t\t\t\t <input type=\"textbox\" id=\"answer1\" style=\"width:100%; height:40px;\"></input>\n\t\t\t\t <br /><br />\n\t\t\t\t <p><a class=\"btn btn-lg btn-success\" id=\"submit1\" style=\"width:100%\" href=\"#\">Submit! <span class=\"glyphicon glyphicon-ok\"></span></a></p>\n\t\t\t</div>\n\t\t\t<div id=\"panel2\" class=\"panel col-lg-4 col-sm-4 col-md-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1\" style=\"background-color:gray; height:170px\">\n\t\t\t\t <h4></h4>\n\t\t\t\t <h4>Answer:</h4>\n\t\t\t\t <input type=\"textbox\" id=\"answer2\" style=\"width:100%; height:40px;\"></input>\n\t\t\t\t <br /><br />\n\t\t\t\t <p><a class=\"btn btn-lg btn-success\" id=\"submit2\" style=\"width:100%\" href=\"#\">Submit! <span class=\"glyphicon glyphicon-ok\"></span></a></p>\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div id=\"panel3\" class=\"panel col-lg-4 col-sm-4 col-md-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1\" style=\"background-color:gray; height:170px\">\n\t\t\t\t <h4></h4>\n\t\t\t\t <h4>Answer:</h4>\n\t\t\t\t <input type=\"textbox\" id=\"answer3\" style=\"width:100%; height:40px;\"></input>\n\t\t\t\t <br /><br />\n\t\t\t\t <p><a class=\"btn btn-lg btn-success\" id=\"submit3\" style=\"width:100%\" href=\"#\">Submit! <span class=\"glyphicon glyphicon-ok\"></span></a></p>\n\t\t\t</div>\n\t\t\t<div id=\"panel4\" class=\"panel col-lg-4 col-sm-4 col-md-4 col-lg-offset-1 col-sm-offset-1 col-md-offset-1\" style=\"background-color:gray; height:170px\">\n\t\t\t\t <h4></h4>\n\t\t\t\t <h4>Answer:</h4>\n\t\t\t\t <input type=\"textbox\" id=\"answer4\" style=\"width:100%; height:40px\"></input>\n\t\t\t\t <br /><br />\n\t\t\t\t <p><a class=\"btn btn-lg btn-success\" id=\"submit4\" style=\"width:100%\" href=\"#\">Submit! <span class=\"glyphicon glyphicon-ok\"></span></a></p>\n\t\t\t</div>\n\t\t\t\n\t\t</div>\n\t</div>\n\t\t\t\n\n\n          \n\n      <div class=\"footer\">\n        <p>SA Hackers inc.</p>\n      </div>\n\n    </div>\n\t<script src=\"//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script> \n\t<script>\n\t\tvar outputJSON;\n\t\tfunction submit1Clicked(){\n\t\t\toutputJSON={};\n\t\t\toutputJSON.name=$(\"#name\").val();\n\t\t\toutputJSON.answer=$(\"#answer1\").val();\n\t\t\tsubmitJSON(outputJSON);\n\t\t}\n\t\t$(\"#submit1\").click(submit1Clicked);\n\t\t\tfunction submit2Clicked(){\n\t\t\toutputJSON={};\n\t\t\toutputJSON.name=$(\"#name\").val();\n\t\t\toutputJSON.answer=$(\"#answer2\").val();\n\t\t\tsubmitJSON(outputJSON);\n\t\t}\n\t\t$(\"#submit2\").click(submit2Clicked);\n\t\tfunction submit3Clicked(){\n\t\t\toutputJSON={};\n\t\t\toutputJSON.name=$(\"#name\").val();\n\t\t\toutputJSON.answer=$(\"#answer3\").val();\n\t\t\tsubmitJSON(outputJSON);\n\t\t}\n\t\t$(\"#submit3\").click(submit3Clicked);\n\t\tfunction submit4Clicked(){\n\t\t\toutputJSON={};\n\t\t\toutputJSON.name=$(\"#name\").val();\n\t\t\toutputJSON.answer=$(\"#answer4\").val();\n\t\t\tsubmitJSON(outputJSON);\n\t\t}\n\t\t$(\"#submit4\").click(submit4Clicked);\n\t\t\n\t\t\n\t\tfunction resetAnswer() {\n\t\t\t$(\"#answer1\").val(\"\");\n\t\t\t$(\"#answer2\").val(\"\");\n\t\t\t$(\"#answer3\").val(\"\");\n\t\t\t$(\"#answer4\").val(\"\");\n\t\t}\n\t\t\n\t\tfunction submitJSON(json){\n\t\t\tvar httpGet=\"http://quiz.mybluemix.net/answer?name=\" + json.name + \"&answer=\" + json.answer;\n\t\t\t$.get( httpGet );\n\t\t\t//setTimeout(\"resetAnswer()\",1000);\n\t\t\t//alert(httpGet);\n\t\t}\n\t\t\n\t\t\n\t\tvar oldData={\"format\":\"-1\"};\n\t\tfunction getNextQuestion() {\n\t\t\t$.getJSON( \"/questions?\" + Date.now(), function( data ) {\n\t\t\t  //alert(JSON.stringify(data));\n\t\t\t  if (data.format!=oldData.format) {\n\t\t\t  \toldData=data;\n\t\t\t  \tvar ansarray=data.answers;\n\t\t\t\t  for(var i=0;i<4;i++){\n\t\t\t\t\t  if (ansarray[i].visible==\"on\") {\n\t\t\t\t\t  \t\t$(\"#panel\" + (i+1)).show();\n\t\t\t\t\t  \t\t$(\"#answer\" + (i+1)).val(ansarray[i].answer);\n\t\t\t\t\t\t  } else {\n\t\t\t\t\t\t  \t$(\"#panel\" + (i+1)).hide();\n\t\t\t\t\t\t  }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t});\n\t\t\t//setTimeout(\"getNextQuestion()\",1000);\n\t\t}\n\t\tsetInterval(\"getNextQuestion()\",1000);\n\t\t$(\"#question\").click(getNextQuestion);\n\t</script>\n    <!-- build:js(.) scripts/vendor.js -->\n    <!-- bower:js -->\n    <!-- endbower -->\n    <!-- endbuild -->\n\n    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->\n    <script>\n      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=\n      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;\n      e=o.createElement(i);r=o.getElementsByTagName(i)[0];\n      e.src='//www.google-analytics.com/analytics.js';\n      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));\n      ga('create','UA-XXXXX-X');ga('send','pageview');\n    </script>\n\n\n\t<!-- Latest compiled and minified JavaScript -->\n\t<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js\"></script>\n</body>\n</html>\n","x":534.3299560546875,"y":496.6700134277344,"z":"ac3d9008.466cd","wires":[["46ee86c0.014aa"]]},{"id":"46ee86c0.014aa","type":"http response","name":"","x":732.3299560546875,"y":495.6700134277344,"z":"ac3d9008.466cd","wires":[]},{"id":"a0c07ed4.ee6538","type":"http in","name":"","url":"/quizclient","method":"get","x":313.3299560546875,"y":501.6700134277344,"z":"ac3d9008.466cd","wires":[["2f989de1.9a9cae"]]},{"id":"fd44629d.3a4d9","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\t\ncontext.global.questions=msg.payload;\n\nreturn msg;","outputs":1,"x":568.3400268554687,"y":628.989990234375,"z":"ac3d9008.466cd","wires":[[]]},{"id":"9f1360e7.865de","type":"inject","name":"Single Question JSON","topic":"","payload":"{\"format\":\"1\", \"answers\":[{\"visible\":\"on\",\"answer\":\"\"},{\"visible\":\"off\",\"answer\":\"\"},{\"visible\":\"off\",\"answer\":\"\"},{\"visible\":\"off\",\"answer\":\"\"}]}","payloadType":"string","repeat":"","crontab":"","once":true,"x":362.0000305175781,"y":629.3200073242187,"z":"ac3d9008.466cd","wires":[["fd44629d.3a4d9"]]},{"id":"d672b7.47434948","type":"http response","name":"","x":708.3400268554687,"y":796.239990234375,"z":"ac3d9008.466cd","wires":[]},{"id":"291beb24.1857c8","type":"http in","name":"","url":"/questions","method":"get","x":334.34002685546875,"y":803.239990234375,"z":"ac3d9008.466cd","wires":[["cc6c433f.824fa"]]},{"id":"cc6c433f.824fa","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\t\nmsg.payload=context.global.questions;\n\nreturn msg;","outputs":1,"x":511,"y":802.9099731445312,"z":"ac3d9008.466cd","wires":[["d672b7.47434948","d1b9cb77.c3e34"]]},{"id":"567cd1e5.9a89b","type":"inject","name":"2 Questions True or False","topic":"","payload":"{\"format\":\"2\",\"answers\":[{\"visible\":\"on\",\"answer\":\"True\"},{\"visible\":\"on\",\"answer\":\"False\"},{\"visible\":\"off\",\"answer\":\"\"},{\"visible\":\"off\",\"answer\":\"\"}]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":365.66998291015625,"y":687.6699829101562,"z":"ac3d9008.466cd","wires":[["fd44629d.3a4d9"]]},{"id":"db708fe3.5e393","type":"inject","name":"4 Questions ABCD","topic":"","payload":"{\"format\":\"3\",\"answers\":[{\"visible\":\"on\",\"answer\":\"A\"},{\"visible\":\"on\",\"answer\":\"B\"},{\"visible\":\"on\",\"answer\":\"C\"},{\"visible\":\"on\",\"answer\":\"D\"}]}","payloadType":"string","repeat":"","crontab":"","once":false,"x":381.66998291015625,"y":739.6699829101562,"z":"ac3d9008.466cd","wires":[["fd44629d.3a4d9"]]},{"id":"d1b9cb77.c3e34","type":"debug","name":"","active":true,"console":"false","complete":"false","x":679,"y":738.3299560546875,"z":"ac3d9008.466cd","wires":[]},{"id":"a9644723.9faa58","type":"comment","name":"Quiz Client calls this GET method to submit an Answer","info":"","x":394,"y":37,"z":"ac3d9008.466cd","wires":[]},{"id":"6610a88d.c6d998","type":"comment","name":"QuizMaster uses a websocket to receive instant notificaiton of any answers","info":"","x":376,"y":252,"z":"ac3d9008.466cd","wires":[]},{"id":"6f9e7f2f.62648c","type":"comment","name":"Set the structure of the questions True/False, A/B/C/D etc. Web Client polls for updates","info":"","x":488,"y":581,"z":"ac3d9008.466cd","wires":[]}]