Query BT router for registered people (inc Sonos welcome and Tannoy)/Query BT router for registered people (inc Sonos welcome and Tannoy).json
[{"id":"184625ce.e7b9da","type":"function","name":"SONOS Kitchen","func":"var text = msg.payload;\n\n/*\ninstall sonos Javascript -> https://www.npmjs.org/package/sonos\n\nExpand settings.js with sonos Context :   functionGlobalContext: {wpi: require('wiring-pi'), sonos:require('sonos')}\n\nSome functions (see https://www.npmjs.org/package/sonos)\n\nsonos.getCurrentState(function(err, track) {\nconsole.log(err, track);\n });\nsonos.currentTrack(function(err, track) {\n  console.log(err, track);\n});\nsonos.getMusicLibrary('playlists', {start: 0, total: 25}, function(err, result){\n  console.log([err, result]);\n  });\nsonos.play('caz_audio_01', function(err, playing) {\n  console.log([err, playing]);\n});\n*/\n// See SONOS program , INFO over Sonos voor IP numbers\nvar sonos = new context.global.sonos.Sonos('192.168.1.87');\n\n//Replace all spaces with a _ because Sonos doesn't support spaces\ntext = text.replace(/ /g,'_');\n\n//For supported languages see www.voicerss.org/api/documentation.aspx\n//This url just redirects to voices because of the specific url format for the sonos\n//var url = 'http://translate.google.com/translate_tts?tl=en&q=' + encodeURIComponent(text) + '.mp3';\nvar url = 'http://i872953.iris.fhict.nl/speech/en-uk_' + encodeURIComponent(text)+'.mp3';\n\nconsole.log(url);\n\nsonos.play(url, function(err, playing) {\n  console.log([err, playing]);\n});\nconsole.log('finished');","outputs":1,"x":1911.25,"y":1061.5,"z":"a09e5e52.5f61a","wires":[[]]},{"id":"ae40c387.51bf4","type":"inject","name":"","topic":"test","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":205,"y":891.25,"z":"a09e5e52.5f61a","wires":[["3d65f1c6.c29a0e"]]},{"id":"cd0437b2.32fbc8","type":"debug","name":"","active":false,"console":"true","complete":"true","x":1481.7308349609375,"y":928.2884521484375,"z":"a09e5e52.5f61a","wires":[]},{"id":"fb19664e.04e698","type":"http request","name":"Query router","method":"GET","url":"http://192.168.1.254","x":589.7317810058594,"y":890.9770965576172,"z":"a09e5e52.5f61a","wires":[["cb132e7c.34ecd"]]},{"id":"4ca2f569.b35d0c","type":"function","name":"Looking for mac address","func":"console.log(\"Looking for mac address - start\");\nvar i;\nvar n;\nvar messages=[];\nvar messageIndex;\n\nconsole.log(\"Looking for mac address - setting Event timestamp\");\n\nvar id=\"event:\"+Date.now();\nmessageIndex=0;\n\nfor (i=0;i<context.global.listenMacs.length;i++) {\n\tconsole.log(\"Looking for mac address - checking for \" + context.global.listenMacs[i].Name + \" at MacAddress \" + context.global.listenMacs[i].MacAddress);\n\n\tn = msg.payload.indexOf(context.global.listenMacs[i].MacAddress); \n\tconsole.log(\"Looking for mac address - n= \" + n);\n\t\n\tif (n==-1) {\n\t\t// phone not registered\n\t\tconsole.log(\"Looking for mac address - phone is not registered vs context.global.Registered[\" + i + \"] = \" + context.global.Registered[i]);\n\n\t\tif (context.global.Registered[i]==true) {\n\t\t\t//this is a change of stage\n\t\t\tconsole.log(\"Looking for mac address - this is a change of state. Message index=\" + messageIndex);\n\t\t\tid=\"event:\"+Date.now();\n\t\t\tmessages[messageIndex]={\"_id\": id, \"Name\": context.global.listenMacs[i].Name, \"Message\":\"Unregistered\"};\n\t\t\tmessageIndex++;\n\t\t\t\n\t\t\tcontext.global.Registered[i] = false;\n\t\t}\n\t} else {\n\t\t// phone is registered\n\t\tconsole.log(\"Looking for mac address - phone is  registered vs context.global.Registered[\" + i + \"] = \" + context.global.Registered[i]);\n\t\tif (context.global.Registered[i]==false) {\n\t\t\t\t\n\t\t\t//this is a change of stage\n\t\t\tconsole.log(\"Looking for mac address - this is a change of state. Message index=\" + messageIndex);\n\t\t\tid=\"event:\"+Date.now();\n\t\t\tmessages[messageIndex]={\"_id\": id, \"Name\": context.global.listenMacs[i].Name, \"Message\":\"Registered\"};\n\t\t\tmessageIndex++;\n\t\t\t\n\t\t\tcontext.global.Registered[i] = true;\n\t\t\t}\n\t\t}\n\t}\n\t\nmsg.payload=messages;\nreturn msg;","outputs":1,"x":1269.9817810058594,"y":894.2270965576172,"z":"a09e5e52.5f61a","wires":[["fee1d010.011e3","cd0437b2.32fbc8"]]},{"id":"3d65f1c6.c29a0e","type":"function","name":"Prepare global variables","func":"console.log(\"Prepare global variables - start\");\n\nvar listen=[{\"Name\":\"Lester\",\"MacAddress\":\"ac:cf:5c:be:f3:d3\"},{\"Name\":\"Kate\",\"MacAddress\":\"a0:ed:cd:66:af:63\"}];\ncontext.global.listenMacs=listen;\nconsole.log(\"Prepare global variables - check if the global variable for changes to the register status has ever been set\");\n\n//check if the global variable for changes to the register status has ever been set\nvar i;\n\nif (context.global.Registered){} else {\n\tvar arr=[];\n\tcontext.global.Registered=arr;\n\t}\nconsole.log(\"Prepare global variables - check 2 if the global variable for changes to the register status has ever been set\");\n\t\n\nfor (i=0;i<context.global.listenMacs.length;i++) {\n\tif (context.global.Registered[i]){} else {\n\tcontext.global.Registered[i]=false;\n\t}\n}\nconsole.log(\"Prepare global variables - end\");\n\n\n \nreturn msg;\n\n","outputs":1,"x":386.4817810058594,"y":890.7270965576172,"z":"a09e5e52.5f61a","wires":[["fb19664e.04e698"]]},{"id":"5ba314a5.a45cec","type":"function","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":391.98181533813477,"y":1106.4771041870117,"z":"a09e5e52.5f61a","wires":[["fee1d010.011e3"]]},{"id":"fee1d010.011e3","type":"function","name":"for each item","func":"if (msg.payload.length==0) {\n\treturn null;\n}\nif( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":304.4817810058594,"y":1040.7270812988281,"z":"a09e5e52.5f61a","wires":[["7503b03a.8afc5","4653101b.b9acf"]]},{"id":"13cd6235.ec329e","type":"function","name":"","func":"\n//https://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/home-automation\nvar newMsg={};\nvar payload={}; \n\nnewMsg.payload=msg.payload;\n//newMsg.url=\"https://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/home-automation/\" + msg.payload._id;\nnewMsg.url=\"https://40a04e93-daf4-47c7-9faa-f25334792d10-bluemix.cloudant.com/home-automation/\" + msg.payload._id;\n\n\nnewMsg.method=\"PUT\"\nreturn newMsg;","outputs":1,"x":772.4817810058594,"y":1042.7270965576172,"z":"a09e5e52.5f61a","wires":[["61834779.9e7cb8","b2ad9e7a.4d526","150e3aa2.eaf1c5"]]},{"id":"a2be8d1b.5d417","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1109.4103813171387,"y":1043.6199970245361,"z":"a09e5e52.5f61a","wires":[]},{"id":"61834779.9e7cb8","type":"http request","name":"Add to dB","method":"GET","url":"","x":937.9103736877441,"y":1044.8699922561646,"z":"a09e5e52.5f61a","wires":[["a2be8d1b.5d417"]]},{"id":"7503b03a.8afc5","type":"delay","name":"","pauseType":"delay","timeout":"050","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":247.48178100585938,"y":1106.2271041870117,"z":"a09e5e52.5f61a","wires":[["5ba314a5.a45cec"]]},{"id":"4653101b.b9acf","type":"change","action":"delete","property":"items","from":"","to":"","reg":false,"name":"","x":602.4817810058594,"y":1042.7270965576172,"z":"a09e5e52.5f61a","wires":[["13cd6235.ec329e"]]},{"id":"cb132e7c.34ecd","type":"change","action":"delete","property":"statusCode","from":"","to":"","reg":false,"name":"","x":817.4817810058594,"y":896.7270965576172,"z":"a09e5e52.5f61a","wires":[["4aced9f2.b53128"]]},{"id":"4aced9f2.b53128","type":"change","action":"delete","property":"headers","from":"","to":"","reg":false,"name":"","x":1034.4817810058594,"y":894.7270965576172,"z":"a09e5e52.5f61a","wires":[["4ca2f569.b35d0c"]]},{"id":"b2ad9e7a.4d526","type":"switch","name":"","property":"payload.Message","rules":[{"t":"regex","v":"Registered"},{"t":"else"}],"checkall":"true","outputs":2,"x":951.25,"y":1147.5,"z":"a09e5e52.5f61a","wires":[["c3681afb.3c97e8"],["f7772c88.0888d"]]},{"id":"c3681afb.3c97e8","type":"switch","name":"","property":"payload.Name","rules":[{"t":"regex","v":"Lester"},{"t":"regex","v":"Kate"},{"t":"else"}],"checkall":"true","outputs":3,"x":1170,"y":1130,"z":"a09e5e52.5f61a","wires":[["14399a59.ebc666"],["af156db9.50ea9"],["caf5e4db.350a18"]]},{"id":"14399a59.ebc666","type":"template","name":"","field":"payload","template":"Welcome home Lester","x":1360,"y":1058.75,"z":"a09e5e52.5f61a","wires":[["2f9867f2.d06798","61690027.9e97"]]},{"id":"af156db9.50ea9","type":"template","name":"","field":"payload","template":"Welcome home Kate","x":1377.5,"y":1132.5,"z":"a09e5e52.5f61a","wires":[["a34a3a.ff5cb5c8","61690027.9e97"]]},{"id":"2f9867f2.d06798","type":"delay","name":"","pauseType":"delay","timeout":"65","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1567.5,"y":1053.75,"z":"a09e5e52.5f61a","wires":[["184625ce.e7b9da"]]},{"id":"61690027.9e97","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1561.75,"y":1143.5,"z":"a09e5e52.5f61a","wires":[]},{"id":"150e3aa2.eaf1c5","type":"debug","name":"","active":false,"console":"false","complete":"true","x":909.25,"y":988.75,"z":"a09e5e52.5f61a","wires":[]},{"id":"f7772c88.0888d","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1092.5,"y":1191.75,"z":"a09e5e52.5f61a","wires":[]},{"id":"caf5e4db.350a18","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1332.75,"y":1177.5,"z":"a09e5e52.5f61a","wires":[]},{"id":"1ed426f1.e12bd9","type":"inject","name":"test","topic":"","payload":"{ \"_id\": \"event:1418252015628\", \"Name\": \"Lester\", \"Message\": \"Registered\" }","payloadType":"string","repeat":"","crontab":"","once":false,"x":482.50001525878906,"y":1196.2500171661377,"z":"a09e5e52.5f61a","wires":[["b2eb09f2.4d14f8"]]},{"id":"b2eb09f2.4d14f8","type":"json","name":"","x":671.25,"y":1178.75,"z":"a09e5e52.5f61a","wires":[["b2ad9e7a.4d526"]]},{"id":"a34a3a.ff5cb5c8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1568.75,"y":1100,"z":"a09e5e52.5f61a","wires":[["184625ce.e7b9da"]]},{"id":"692dc4c9.96d23c","type":"twitter in","twitter":"","tags":"","user":"dm","name":"#Tannoy","topic":"tweets","x":1663,"y":879,"z":"a09e5e52.5f61a","wires":[["184625ce.e7b9da"]]},{"id":"e125408d.1edac","type":"comment","name":"Queries the BT Broadband router to see when people return home. Also uses Sonos and a Twitter tannoy. Open this for more installation requirements.","info":"Need to add the Sonos node to the Settings.js file (or equivalent thethingbox.js or bluemix.js). \nThis is to put the node module in the global context when node-red starts.\n\n\n    functionGlobalContext: {\n        // os:require('os'),\n        // bonescript:require('bonescript'),\n        // arduino:require('duino')\n        sonos:require('sonos')\n    }","x":712.5000076293945,"y":803.7500114440918,"z":"a09e5e52.5f61a","wires":[]}]