Log Heating to Emoncms.org/Log Heat Genius to Tinamous.json
[{"id":"69ef1522.9610ec","type":"emoncms","name":"LoungeTemperature","key":"LoungeTemperature","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1293.555978146023,"y":176.11094844987656,"z":"a043001a.5fbd","wires":[]},{"id":"993ecb01.66c138","type":"http request","name":"Query Heat Genius","method":"GET","url":"http://192.168.1.90:1223/Zone/{{payload}}?sig=d1556324bd73f71b7d73219bbbace76552ddd970e670c2e6579990981895d2f7","x":533.7779655456543,"y":100.22225189208984,"z":"a043001a.5fbd","wires":[["9cd1e44a.632e18"]]},{"id":"6007df54.9ff82","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1069.7779655456543,"y":99.55557632446289,"z":"a043001a.5fbd","wires":[]},{"id":"7e614bf7.819eb4","type":"inject","name":"Lounge (Zone 1)","topic":"HGLounge","payload":"1","payloadType":"string","repeat":"5","crontab":"","once":false,"x":305.27795791625977,"y":100.72224998474121,"z":"a043001a.5fbd","wires":[["993ecb01.66c138"]]},{"id":"e487964a.1b7868","type":"json","name":"","x":852.0279655456543,"y":100.22225189208984,"z":"a043001a.5fbd","wires":[["6007df54.9ff82","20121f7a.dfede"]]},{"id":"2b636f34.d49c9","type":"template","name":"Filter Temperature","template":"{{payload.datapoints.0.value}}","x":932.4445343017578,"y":197.16271686553955,"z":"a043001a.5fbd","wires":[["69ef1522.9610ec","907144bd.6f8eb8"]]},{"id":"847492ce.7b8b7","type":"template","name":"Filter Activity","template":"{{payload.datapoints.4.value}}","x":914.4445190429688,"y":236.4127140045166,"z":"a043001a.5fbd","wires":[["3a700e12.c58ff2"]]},{"id":"66553231.99aacc","type":"template","name":"Filter Luminance","template":"{{payload.datapoints.3.value}}","x":927.4445190429688,"y":276.4127140045166,"z":"a043001a.5fbd","wires":[["445c20ca.bba3e","b19d367.f4e62c8"]]},{"id":"7e2378e9.81dc88","type":"template","name":"Filter Controller","template":"{{payload.datapoints.2.value}}","x":927.1112365722656,"y":314.7460594177246,"z":"a043001a.5fbd","wires":[["92a2588e.6d5da8","33d70a7c.cc28f6"]]},{"id":"20121f7a.dfede","type":"change","action":"replace","property":"strName","from":"","to":"msg.payload.strName","reg":false,"name":"Remember strName","x":681.8017349243164,"y":198.55559730529785,"z":"a043001a.5fbd","wires":[["2b636f34.d49c9","847492ce.7b8b7","66553231.99aacc","7e2378e9.81dc88"]]},{"id":"9cd1e44a.632e18","type":"timestamp","name":"","format":"basic","shift":"gmt","x":709.7779655456543,"y":100.22200775146484,"z":"a043001a.5fbd","wires":[["e487964a.1b7868"]]},{"id":"8ea67b90.715988","type":"emoncms","name":"LoungeActivity","key":"LoungeActivity","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1527.3088455200195,"y":255.75306797027588,"z":"a043001a.5fbd","wires":[]},{"id":"445c20ca.bba3e","type":"emoncms","name":"LoungeLuminance","key":"LoungeLuminance","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1286.1976865200465,"y":322.97542656114365,"z":"a043001a.5fbd","wires":[]},{"id":"92a2588e.6d5da8","type":"emoncms","name":"LoungeValve","key":"LoungeValve","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1266.1977017788356,"y":396.3088158433702,"z":"a043001a.5fbd","wires":[]},{"id":"907144bd.6f8eb8","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1255.333553314209,"y":138.53092193603516,"z":"a043001a.5fbd","wires":[]},{"id":"3ab3b379.c54c4c","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1504.2224197387695,"y":217.97541999816895,"z":"a043001a.5fbd","wires":[]},{"id":"b19d367.f4e62c8","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1250.889054623074,"y":286.30870140245224,"z":"a043001a.5fbd","wires":[]},{"id":"33d70a7c.cc28f6","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1247.5557721523708,"y":359.64214599778916,"z":"a043001a.5fbd","wires":[]},{"id":"488f841d.b7707c","type":"emoncms","name":"Bedroom1Temperature","key":"Bedroom1Temperature","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1319.6113370327419,"y":669.555318719652,"z":"a043001a.5fbd","wires":[]},{"id":"35a385cf.ca5c7a","type":"http request","name":"Query Heat Genius","method":"GET","url":"http://192.168.1.90:1223/Zone/{{payload}}?sig=d1556324bd73f71b7d73219bbbace76552ddd970e670c2e6579990981895d2f7","x":544.8332672119141,"y":570.3332786560059,"z":"a043001a.5fbd","wires":[["b160bb81.4e9f48"]]},{"id":"9bfe9c6d.64016","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1062.4999771118164,"y":569.6665620803833,"z":"a043001a.5fbd","wires":[]},{"id":"3870cfed.c78f3","type":"json","name":"","x":863.0832672119141,"y":570.3332786560059,"z":"a043001a.5fbd","wires":[["9bfe9c6d.64016","965ca51c.69a358"]]},{"id":"9dfd06e0.6202f8","type":"template","name":"Filter Temperature","template":"{{payload.datapoints.0.value}}","x":958.4998931884766,"y":690.6070871353149,"z":"a043001a.5fbd","wires":[["488f841d.b7707c","73689b6c.8c9764"]]},{"id":"1799472b.e866b9","type":"template","name":"Filter Activity","template":"{{payload.datapoints.4.value}}","x":940.4998779296875,"y":729.857084274292,"z":"a043001a.5fbd","wires":[["72ff4a29.8d00b4"]]},{"id":"8c066484.73f998","type":"template","name":"Filter Luminance","template":"{{payload.datapoints.3.value}}","x":953.4998779296875,"y":769.857084274292,"z":"a043001a.5fbd","wires":[["1408bb1.febf745","6c04cfea.93fb3"]]},{"id":"bedaa249.41256","type":"template","name":"Filter Controller","template":"{{payload.datapoints.2.value}}","x":936.4998779296875,"y":809.857084274292,"z":"a043001a.5fbd","wires":[["806f53c7.7f90b","3c524971.c3adb6"]]},{"id":"eda4d8a4.125b28","type":"inject","name":"Master Bedroom (Zone 3)","topic":"HGBedroom1","payload":"3","payloadType":"string","repeat":"10","crontab":"","once":false,"x":316.33325958251953,"y":569.8332767486572,"z":"a043001a.5fbd","wires":[["35a385cf.ca5c7a"]]},{"id":"965ca51c.69a358","type":"change","action":"replace","property":"strName","from":"","to":"msg.payload.strName","reg":false,"name":"Remember strName","x":707.8570938110352,"y":691.9999675750732,"z":"a043001a.5fbd","wires":[["9dfd06e0.6202f8","1799472b.e866b9","8c066484.73f998","bedaa249.41256"]]},{"id":"b160bb81.4e9f48","type":"timestamp","name":"","format":"basic","shift":"gmt","x":720.8332672119141,"y":570.3330345153809,"z":"a043001a.5fbd","wires":[["3870cfed.c78f3"]]},{"id":"ff4cd50c.00b328","type":"emoncms","name":"Bedroom1Activity","key":"Bedroom1Activity","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1576.6976776123047,"y":744.1974487304688,"z":"a043001a.5fbd","wires":[]},{"id":"1408bb1.febf745","type":"emoncms","name":"Bedroom1Luminance","key":"Bedroom1Luminance","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1312.2530454067653,"y":816.419796830919,"z":"a043001a.5fbd","wires":[]},{"id":"806f53c7.7f90b","type":"emoncms","name":"Bedroom1Valve","key":"Bedroom1Valve","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1292.2530606655544,"y":889.7531861131456,"z":"a043001a.5fbd","wires":[]},{"id":"73689b6c.8c9764","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1281.3889122009277,"y":631.9752922058105,"z":"a043001a.5fbd","wires":[]},{"id":"b637ae8e.49c85","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1553.6112518310547,"y":706.4198007583618,"z":"a043001a.5fbd","wires":[]},{"id":"6c04cfea.93fb3","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1276.9444135097926,"y":779.7530716722276,"z":"a043001a.5fbd","wires":[]},{"id":"3c524971.c3adb6","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1273.6111310390895,"y":853.0865162675645,"z":"a043001a.5fbd","wires":[]},{"id":"b73024a2.48cfd8","type":"emoncms","name":"Bedroom2Temperature","key":"Bedroom2Temperature","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1305.6114629177516,"y":1079.7777661149767,"z":"a043001a.5fbd","wires":[]},{"id":"ca014fe0.35feb","type":"http request","name":"Query Heat Genius","method":"GET","url":"http://192.168.1.90:1223/Zone/{{payload}}?sig=d1556324bd73f71b7d73219bbbace76552ddd970e670c2e6579990981895d2f7","x":529.1666870117188,"y":993.8890237808228,"z":"a043001a.5fbd","wires":[["331f15d1.cce0ea"]]},{"id":"474d78a.fb8b288","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1038.5000610351562,"y":994.8890581130981,"z":"a043001a.5fbd","wires":[]},{"id":"6125927e.9eda6c","type":"json","name":"","x":847.4166870117188,"y":993.8890237808228,"z":"a043001a.5fbd","wires":[["474d78a.fb8b288","b53b19b8.4ac4e8"]]},{"id":"17ac1362.e853ed","type":"template","name":"Filter Temperature","template":"{{payload.datapoints.0.value}}","x":944.5000190734863,"y":1100.8295345306396,"z":"a043001a.5fbd","wires":[["b73024a2.48cfd8","1f023e4a.e0fdc2"]]},{"id":"c74265d5.38bd98","type":"template","name":"Filter Activity","template":"{{payload.datapoints.4.value}}","x":926.5000038146973,"y":1140.0795316696167,"z":"a043001a.5fbd","wires":[["5bea82c1.a4157c"]]},{"id":"d49b9f4c.2b646","type":"template","name":"Filter Luminance","template":"{{payload.datapoints.3.value}}","x":939.5000038146973,"y":1180.0795316696167,"z":"a043001a.5fbd","wires":[["c428cd81.3bd73","8411b857.7bee48"]]},{"id":"c3494f9d.3cb6b","type":"template","name":"Filter Controller","template":"{{payload.datapoints.2.value}}","x":922.5000038146973,"y":1220.0795316696167,"z":"a043001a.5fbd","wires":[["76f12bd5.890ed4","e05eb2a6.1fa15"]]},{"id":"99631092.669cf","type":"inject","name":"Kids Bedroom (Zone 4)","topic":"HGBedroom2","payload":"4","payloadType":"string","repeat":"10","crontab":"","once":false,"x":300.6666793823242,"y":994.3890332048204,"z":"a043001a.5fbd","wires":[["ca014fe0.35feb"]]},{"id":"b53b19b8.4ac4e8","type":"change","action":"replace","property":"strName","from":"","to":"msg.payload.strName","reg":false,"name":"Remember strName","x":693.8572196960449,"y":1102.222414970398,"z":"a043001a.5fbd","wires":[["17ac1362.e853ed","c74265d5.38bd98","d49b9f4c.2b646","c3494f9d.3cb6b"]]},{"id":"331f15d1.cce0ea","type":"timestamp","name":"","format":"basic","shift":"gmt","x":705.1666870117188,"y":993.8887796401978,"z":"a043001a.5fbd","wires":[["6125927e.9eda6c"]]},{"id":"2a47913b.d5b86e","type":"emoncms","name":"Bedroom2Activity","key":"Bedroom2Activity","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1579.364387512207,"y":1162.7531765764024,"z":"a043001a.5fbd","wires":[]},{"id":"c428cd81.3bd73","type":"emoncms","name":"Bedroom2Luminance","key":"Bedroom2Luminance","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1298.253171291775,"y":1226.6422442262437,"z":"a043001a.5fbd","wires":[]},{"id":"76f12bd5.890ed4","type":"emoncms","name":"Bedroom2Valve","key":"Bedroom2Valve","apikey":"c5ec0257ef9f3c336f3628c960ef4bb1","x":1278.2531865505641,"y":1299.9756335084703,"z":"a043001a.5fbd","wires":[]},{"id":"1f023e4a.e0fdc2","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1267.3890380859375,"y":1042.1977396011353,"z":"a043001a.5fbd","wires":[]},{"id":"6eec4514.9113bc","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1556.277961730957,"y":1124.9755286042955,"z":"a043001a.5fbd","wires":[]},{"id":"8411b857.7bee48","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1262.9445393948024,"y":1189.9755190675523,"z":"a043001a.5fbd","wires":[]},{"id":"e05eb2a6.1fa15","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1259.6112569240993,"y":1263.3089636628893,"z":"a043001a.5fbd","wires":[]},{"id":"3a700e12.c58ff2","type":"function","name":"","func":"if (context.global.loungeActivity) {\n\tcontext.global.loungeActivity+=(msg.payload*10);\n\tcontext.global.loungeActivity=context.global.loungeActivity*.9; \n\t}\nelse {\n\tcontext.global.loungeActivity=(msg.payload*10);\n}\nmsg.payload=context.global.loungeActivity;\nreturn msg;","outputs":1,"x":1214.6296424865723,"y":231.4814682006836,"z":"a043001a.5fbd","wires":[["8ea67b90.715988","3ab3b379.c54c4c"]]},{"id":"72ff4a29.8d00b4","type":"function","name":"","func":"if (context.global.bedroom1Activity) {\n\tcontext.global.bedroom1Activity+=(msg.payload*10);\n\tcontext.global.bedroom1Activity=context.global.bedroom1Activity*.9;\n\t}\nelse {\n\tcontext.global.bedroom1Activity=(msg.payload*10);\n}\nmsg.payload=context.global.bedroom1Activity;\nreturn msg;","outputs":1,"x":1249.6295776367188,"y":729.8147449493408,"z":"a043001a.5fbd","wires":[["b637ae8e.49c85","ff4cd50c.00b328"]]},{"id":"5bea82c1.a4157c","type":"function","name":"","func":"if (context.global.bedroom2Activity) {\n\tcontext.global.bedroom2Activity+=(msg.payload*10);\n\tcontext.global.bedroom2Activity=context.global.bedroom2Activity*.9;\n\t}\nelse {\n\tcontext.global.bedroom2Activity=(msg.payload*10);\n}\nmsg.payload=context.global.bedroom2Activity;\nreturn msg;","outputs":1,"x":1229.6297035217285,"y":1138.1480587785509,"z":"a043001a.5fbd","wires":[["6eec4514.9113bc","2a47913b.d5b86e"]]}]