Log Temperature to Internet/Log Temperature to Internet.json
[{"id":"6c0e8e84.93f17","type":"mqtt-broker","broker":"lesterthomas.tinamous.com","port":"1883","clientid":""},{"id":"6a26b4e9.95d94c","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"250","bin":"false","out":"time","addchar":"false"},{"id":"763c44dc.89c3bc","type":"comment","name":"Request Analogue Input 0 from Arduino","info":"","x":258,"y":113,"z":"cd519eec.32ae6","wires":[]},{"id":"6806e5de.97f91c","type":"serial in","name":"Arduino","serial":"6a26b4e9.95d94c","x":157,"y":353,"z":"cd519eec.32ae6","wires":[["5497691c.ab6898","f22e6476.0dd198"]]},{"id":"5497691c.ab6898","type":"debug","name":"","active":false,"console":false,"complete":false,"x":328,"y":389,"z":"cd519eec.32ae6","wires":[]},{"id":"b385e27.f4c7a2","type":"inject","name":"","topic":"","payload":"a--HELLO----","payloadType":"string","repeat":"","crontab":"","once":false,"x":134,"y":575,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"dfcec94a.203138","type":"serial out","name":"Arduino","serial":"6a26b4e9.95d94c","x":342,"y":574,"z":"cd519eec.32ae6","wires":[]},{"id":"f22e6476.0dd198","type":"function","name":"Parse for LLAP messages","func":"var instring = msg.payload;\nif (instring.length<=12) {\n   console.log(\"Singleet: \"+instring);\n   return msg;\n} else {\n   var packets = [];\n   console.log(\"Multipleets: \"+instring);\n   while (instring.length>=12) {\n      var packet = instring.substr(0, 12);\n      console.log(\"Unsplicedet: \"+packet);\n      packets[packets.length] = {payload:packet};\n      instring = instring.substr(12);\n      console.log(\"instringow length \"+instring.length);\n   }\n   return [packets]; \n}\nreturn null;\n\n\n\n\nreturn msg;","outputs":1,"x":389,"y":352,"z":"cd519eec.32ae6","wires":[["8359937.f7ca67"]]},{"id":"c3d405f2.3c2bf8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1056,"y":283,"z":"cd519eec.32ae6","wires":[]},{"id":"42dac8ee.bd2538","type":"inject","name":"","topic":"","payload":"a--D13HIGH--","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":613,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"1344cf8.fecbb3","type":"inject","name":"","topic":"","payload":"a--D13LOW---","payloadType":"string","repeat":"","crontab":"","once":false,"x":133,"y":650,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"f3588310.0ca78","type":"inject","name":"","topic":"","payload":"a--REBOOT---","payloadType":"string","repeat":"","crontab":"","once":false,"x":107,"y":851,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"9cadecfb.63521","type":"inject","name":"","topic":"","payload":"a--APVER----","payloadType":"string","repeat":"","crontab":"","once":false,"x":101,"y":891,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"9c66ace1.63995","type":"inject","name":"","topic":"","payload":"a--DEVNAME---","payloadType":"string","repeat":"","crontab":"","once":false,"x":123,"y":940,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"b855fdf7.47aa","type":"inject","name":"","topic":"","payload":"a--A00READ--","payloadType":"string","repeat":"","crontab":"","once":false,"x":136,"y":688,"z":"cd519eec.32ae6","wires":[["dfcec94a.203138"]]},{"id":"96d07bd4.692f88","type":"mqtt out","name":"TinamousOut","topic":"/Tinamous/V1/Measurements/0/Field1","broker":"6c0e8e84.93f17","x":1103,"y":351,"z":"cd519eec.32ae6","wires":[]},{"id":"8359937.f7ca67","type":"function","name":"Filter except A0","func":"var pin=msg.payload.substring(3,6);\nvar value=msg.payload.substring(7,10);\nmsg.pin=pin;\nmsg.value=parseInt(value);\nif (pin=='A00') {\n\tmsg.payload=msg.value;\n\treturn msg;\n} else\n{\n\n}\nreturn null;","outputs":1,"x":628,"y":351,"z":"cd519eec.32ae6","wires":[["41118f03.beee7","9318ccb0.6ce73"]]},{"id":"f9220d69.06ddf","type":"serial out","name":"Arduino","serial":"6a26b4e9.95d94c","x":405,"y":168,"z":"cd519eec.32ae6","wires":[]},{"id":"d62be67f.29d418","type":"inject","name":"","topic":"","payload":"a--A00READ--","payloadType":"string","repeat":"60","crontab":"","once":false,"x":201,"y":169,"z":"cd519eec.32ae6","wires":[["f9220d69.06ddf"]]},{"id":"41118f03.beee7","type":"function","name":"Convert to temp","func":"// to calculate the temperature we use a more complex formula\n// here we store some of the fixed numbers in variables\n\nvar BVAL = 3977;              // default beta value for the thermistor\nvar RTEMP = 25.0 + 273.15;    // reference temperature (25C expressed in Kelvin)\nvar RNOM = 10000.0;          // default reference resistance at reference temperature; adjust to calibrate\nvar SRES = 10000.0;           // default series resister value; adjust as per your implementation\n\n// to catch a divide by zero error we check the value of adc and fake it if needed\n\nif (msg.payload == 0) {\n\tmsg.payload=1;\n} \nif (msg.payload > 1023) {\n\tmsg.payload=1023;\n} \n\n\n\n// value of the resistance of the thermistor\n\nRtherm = (1023.0/msg.payload - 1)*10000\n\nmsg.rtherm=Rtherm; \n\n// see http:#en.wikipedia.org/wiki/Thermistor for an explanation of the formula\n\nkelvin = RTEMP*BVAL/(BVAL+RTEMP*(Math.log(Rtherm/RNOM)))\n\n\n// convert from Kelvin to Celsius\n\ntemperature = kelvin - 273.15\n\n\nmsg.payload=temperature;\n\n\nreturn msg;","outputs":1,"x":860,"y":351,"z":"cd519eec.32ae6","wires":[["c3d405f2.3c2bf8","96d07bd4.692f88"]]},{"id":"9318ccb0.6ce73","type":"debug","name":"","active":false,"console":false,"complete":false,"x":808,"y":282,"z":"cd519eec.32ae6","wires":[]},{"id":"99bf71b3.66409","type":"comment","name":"Process Arduino messages","info":"","x":221,"y":295,"z":"cd519eec.32ae6","wires":[]},{"id":"5b567943.a4a988","type":"comment","name":"Upload to lesterthomas.tinamous.com","info":"","x":1037,"y":406,"z":"cd519eec.32ae6","wires":[]},{"id":"a074ac9e.5f8b5","type":"comment","name":"Debugging test inputs","info":"","x":173,"y":524,"z":"cd519eec.32ae6","wires":[]}]
