TwitterAnalysis/TwitterWebClient flow.json
[{"id":"aac0b75a.553f48","type":"http in","name":"database proxy","url":"/dbproxy","method":"get","x":285.0000305175781,"y":196,"z":"e5c1526b.049f78","wires":[["eaf3406.f150cc","bd3c2233.42c3e"]]},{"id":"fc3ff8c3.03c008","type":"http response","name":"","x":598.0000305175781,"y":192,"z":"e5c1526b.049f78","wires":[]},{"id":"eaf3406.f150cc","type":"http request","name":"get db query","method":"GET","url":"http://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/{{payload.id}}","x":460.0000305175781,"y":194,"z":"e5c1526b.049f78","wires":[["fc3ff8c3.03c008"]]},{"id":"bd3c2233.42c3e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":588.0000305175781,"y":285,"z":"e5c1526b.049f78","wires":[]},{"id":"8991f792.766e08","type":"http in","name":"","url":"/all","method":"get","x":217,"y":81,"z":"e5c1526b.049f78","wires":[["9141a0aa.6ebe6"]]},{"id":"62a6cc8b.9d5934","type":"http response","name":"","x":625,"y":76,"z":"e5c1526b.049f78","wires":[]},{"id":"9141a0aa.6ebe6","type":"template","name":"Web page","field":"payload","template":"\n<!DOCTYPE html>\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, minimum-scale=1.0, maximum-scale=1.0\" /> \n    <title>Twitter Analysis</title>\n\n    <style>\n\n \n          #main {\n            margin-left:auto;\n            margin-right:auto;\t\t\n          }    \n\n          #main-container {\n            float: left;\t\n            margin:10px; \n            padding:1px;\n            width:800px;\n            background-color:#DDDDDD; \n          }  \n\n          #widget-container {\n            margin: 10px;\n            width: 480px; \n            padding:1px;\n            float: right;\n            background-color:#DDDDDD;\n          }   \n          \n          .main-title {\n             font-weight:bold;\t \n             padding:5px;\n             background-color:#EEEEEE;  \n          } \n          \n          .widget-title {\n             font-weight:bold;\t \n             padding:5px;\n             background-color:#EEEEEE;  \n          } \n          \n          .main-text {\n\t\t\t font-size:small;\n             padding:5px;\n             \n             background-color:#FCFCFC;   \n          }\n\n          .widget-text {\n\t\t\t font-size:small;\n             padding:5px;\n             \n             background-color:#FCFCFC;   \n          }\n\n\n\n\t\t  #word {\n\t\t\tposition: relative;\n\t\t\t\n\t\t\theight: 3000px;\n\t\t\tbackground:#ffffff;\n\t\t\t}\n\t\t\t\n          .word {\n            position: absolute;\n\t\t\tleft: 100px;\n\t\t\ttop: 150px;\n          }  \n          \n          .word:hover {\n          \tbackground-color: yellow;\n          }\n          \n\t\t  .transparent {\n\t\t\tbackground:#7f7f7f;\n\t\t\tbackground:rgba(255,255,255,0.5);\n\t\t  }\n\t\t  \n\t\t  .tweet-container {\n\t\t  \tborder-style: solid;\n\t\t  \tborder-width: 1px;\n\t\t  \tborder-color: #DDDDDD;\n\t\t  }\n\t\t  \n\t\t  .tweet {\n\t\t  \n\t\t  }\n\n          @media (min-width: 1200px) and (max-width: 1340px) {\n\t          #main-container {\n\t            width:704px;\n\t          }  \n\t          #widget-container {\n\t            width:425px; \n\t          }   \n          } \n          @media (min-width: 1040px) and (max-width: 1199px) {\n\t          #main-container {\n\t            width:610px;\n\t          }  \n\t          #widget-container {\n\t            width:369px ; \n\t          }   \n          } \n          @media (min-width: 840px) and (max-width: 1039px) {\n\t          #main-container {\n\t            width:486px;\n\t          }  \n\t          #widget-container {\n\t            width:294px ; \n\t          }   \n          }\n          \n          @media (min-width: 640px) and (max-width: 839px) {\n\t          #main-container {\n\t            width:361px;\n\t          }  \n\t          #widget-container {\n\t            width:218px ; \n\t          }   \n          }\n\n          @media (max-width: 639px) {\n\t          #main-container {\n\t            width:236px;\n\t          }  \n\t          #widget-container {\n\t            width:236px ; \n\t          }   \n          }\n\t</style>\n\n\n</head>\n<body>\n  <link rel=\"stylesheet\" href=\"http://www.lester-thomas.com/twitterAnalysis/css/themes/default/jquery.mobile-1.4.4.min.css\">\n\n  <script src=\"http://www.lester-thomas.com/twitterAnalysis/js/jquery.js\"></script>\n  <script src=\"http://www.lester-thomas.com/twitterAnalysis/js/jquery.mobile-1.4.4.min.js\"></script>\n  <script src=\"http://www.lester-thomas.com/twitterAnalysis/js/json2html.js\"></script>\n  <script src=\"http://www.lester-thomas.com/twitterAnalysis/js/jquery.json2html.js\"></script>\n\n\n  <div id=\"main\">\n  \t<div id=\"main-container\">\n\t    <div class=\"main-title\">\n\t\t    Twitter Analysis\n\t\t</div>\n\t\t<div class=\"main-text\">\n\t\t    <div id=\"word\" > <!--The actual word is loaded via JSON2HTML below-->\n\t\t\t\t\n\t\t\t</div>  \n\t   \t</div> \n  \t</div>\n\t<div id=\"widget-container\">\n   \t\t<div id=\"WordTitle\" class=\"widget-title\">\n         \tAnalysed Word\n   \t\t</div>\n   \t<div class=\"widget-text\" id=\"displayedWord\">\n         Click on word on the left and its tweets will be displayed here.\n   \t</div>\n    \n    \n  </div>\n</div>\n\n<script>\n\nfunction componentToHex(c) {\n  \tc=c | 0; //turn to integer\n  \tif (c>255){\n  \t\tc=255;\n  \t\t}\n  \tif (c<0) {\n  \t\tc=0\n  \t\t}\n    var hex = c.toString(16);\n    return hex.length == 1 ? \"0\" + hex : hex;\n}\n\nfunction rgbToHex(r, g, b) {\n    return \"#\" + componentToHex(r) + componentToHex(g) + componentToHex(b);\n}\nfunction displayWord(word)\n{\n\n\t//alert(\"displaying word \"+word);\n\tvar arrayTransform={\"tag\":\"li\",\"children\":[{\"tag\":\"a\",\"href\":\"/tweet?id=${id}\",\"data-ajax\":\"false\",\"html\":\"${id}\"}]};\n    var transform = {\"tag\":\"div\",\"html\":\"Word: ${_id}\", \"children\":function(){\n      return( json2html.transform(this.tweet_id,arrayTransform) );\n            }};\n  \n\n  /*\n  //the JSON is loaded from an external file, but it is in this format:\n  var json= {\"_id\":\"Word\",\"_rev\":\"1-0213667487cd23022d328c93b10a0f62\",\"created_at\":\"test\",\"tweet_id\":[{\"id\":\"test\"},{\"id\":\"test2\"}]};\n  $('#word').json2html(json,transform); //apply the template to the #word div\n  */\n  //alert(transform);\n  $(\"#WordTitle\").html(\"Analysed Word: \" + word);\n   $.getJSON(\"/dbproxy?id=word:\" + word , function(json) {\n  //$.getJSON(\"http://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/word:\" + word + \"?callback=res\", function(json) {\n   \n   \t$('#displayedWord').html(\"\"); //clear widget box\n   \n        //$('#displayedWord').json2html(json,transform); //apply the template to the #word div\n        //for each tweet in the JSON, create a placeholder HTML element and then get the tweet.\n        var tweetidarray=json.tweet_id;\n        //alert(tweetidarray.length);\n        var newHtml;\n        newHtml=\"\";\n        for (i=0;i<tweetidarray.length;i++){\n        \tnewHtml=newHtml + \"<div class=\\\"tweet-container\\\"><div>\" + tweetidarray[i].id + \"</div><div class=\\\"tweet\\\" id=\\\"\" + tweetidarray[i].id + \"\\\">loading</div><p /><p /></div>\";\n        }\n              \n          \n\t    $('#displayedWord').html(newHtml);\n\t    \n\t    //load the tweets\n        for (i=0;i<tweetidarray.length;i++){\n           $.getJSON(\"/dbproxy?id=tweet:\" + tweetidarray[i].id, function(json) {\n           \t\t\n           \t\t\n           \t\t\n           \t\t$('#'+json.tweet.id_str).html(json.tweet.text);\n\t\t\t});\n        }\t     \n      });\n\n\n\n\n\n}\n\n  var canvaswidth;\n  var canvasheight;\n  \nfunction loadWords(begin,end)\n{\n  var arrayofwords=[];\t\n\n  canvaswidth= $('#main-container').width();\n  canvaswidth=canvaswidth-5;\n  canvasheight=2000000/canvaswidth;\n  canvasheight=canvasheight | 0;\n  \n  $.getJSON(\"/allwords?begin=word:\"+begin+\"&end=word:\"+end, function(json) {  \n  \t\t//$('#word').html(\"\"); //clear animated GIF\n  \t\t\n  \t\toutputhtml=\"\";\n  \t\tarrayofwords=json.rows;\n  \t\t\n  \t\tfor (i=0;i<arrayofwords.length;i++)\n  \t\t{\n  \t\t\tvar worddoc=arrayofwords[i].doc;\n  \t\t\tvar worddocid='#word-' + worddoc.word;\n  \t\t\tvar wordwidth;\n  \t\t\twordhtml=\"<div id='word-\" + worddoc.word + \"' class='word' ><a class='transparent' id='wordlink-\" + worddoc.word + \"' onclick='displayWord(\\\"\"+ worddoc.word + \"\\\"); return false;'>\" + worddoc.word + \"</a></href>\";\n  \t\t\t\n  \t\t\t\n  \t\t\t//alert(worddoc.created_at);\n  \t\t\tvar daysago=(Date.now()-Date.parse(worddoc.created_at))/ 86400000;\n  \t\t\tif (daysago<7) {\n\t  \t\t\t$('#word').append(wordhtml);\n\t  \t\t\t//alert(daysago);\n\t  \t\t\twordwidth=$('#wordlink-' + worddoc.word).width();\n\t  \t\t\t//top to bottom alphabetically; left to right from sentimend\n\t  \t\t\tvar sentiment=worddoc.sentiment;\n\t  \t\t\tif (sentiment>5) {\n\t  \t\t\t\tsentiment=5;\n\t  \t\t\t\t}\n\t  \t\t\tif (sentiment<-5) {\n\t  \t\t\t\tsentiment=-5;\n\t  \t\t\t\t}\n\t  \t\t\tvar leftright=sentiment+5;  //range now 0-10;\n\t  \t\t\tleftright=((canvaswidth-wordwidth)*leftright)/10;\n\t  \t\t\t\n\t  \t\t\tvar res = worddoc.word.charCodeAt(0)-\"a\".charCodeAt(0); //turn first character to number from 0-26\n\t  \t\t\tvar res2 = worddoc.word.charCodeAt(1)-\"a\".charCodeAt(0); //turn second character to number from 0-26\n\t  \t\t\tres=res*26+res2;\n\t  \t\t\tvar topbottom=res*canvasheight/(26*26);\n\t  \t\t\tvar coords={ top: topbottom,left: leftright};\n\t  \t\t\t\n\t  \t\t\t$(worddocid).css(coords);\n\t  \t\t\t\n\t  \t\t\tvar sentiment=worddoc.sentiment;\n\t  \t\t\tvar red,green,blue,wordcolor,wordsize;\n\t  \t\t\tif (sentiment<0) {\n\t  \t\t\t\tred=-sentiment*255/5;\n\t  \t\t\t\tgreen=0;\n\t  \t\t\t\tblue=0;\n\t  \t\t\t\t\n\t  \t\t\t}\n\t  \t\t\telse {\n\t  \t\t\t\tgreen=sentiment*255/5;\n\t  \t\t\t\tred=0;\n\t  \t\t\t\tblue=0;\n\t  \t\t\t}\n\t  \t\t\t\n\t\n\t  \t\t\t\n\t  \t\t\twordcolor=rgbToHex(red,green,blue);\n\t  \t\t\twordsize=Math.log(worddoc.followers_count)*10;\n\t  \t\t\twordsize=wordsize + \"%\";\n\t  \t\t\t$('#wordlink-'+ worddoc.word +'').css({ \"color\": wordcolor, \"font-size\":wordsize  });\n\t  \t\t}\n  \t\t\t\n  \t\t}\n   \t\t\n        //$('#word').json2html(json.rows,transform); //apply the template to the #word div\n        $(\"#word\").trigger('create');  //cause the collabsible elements to come alive\n      });\n}\n\nfunction loadAllWords() {\n\tvar prevStr;\n\tprevStr=\"a\";\n\tfor (x=1;x<10;x++) {\n\t\tvar firstletter='acegjmptxz'.charAt(x);\t\t\n\t\tloadWords(prevStr,firstletter);\n\t\tprevStr=firstletter;\n\t\t//loadWords(letter1,letter2);\n\t}\n}\n\n\n$(document).on(\"pageinit\", function() {\n\tloadAllWords();\n\t});\n\t\n$( window ).resize(function() {\n\tif (canvaswidth==$('#main-container').width()) {\n\t// do nothing\n\t} else {\n\tloadAllWords();\n\t}\n});\n\n\n\n\n\n\n\n</script>\n</body>\n</html>\n","x":414,"y":60,"z":"e5c1526b.049f78","wires":[["62a6cc8b.9d5934"]]},{"id":"2b0b273a.d4f4d8","type":"http in","name":"all words database proxy","url":"/allwords","method":"get","x":236.00003051757812,"y":393,"z":"e5c1526b.049f78","wires":[["f3520309.0cae"]]},{"id":"7292e881.8d6d18","type":"http response","name":"","x":761.0000305175781,"y":387,"z":"e5c1526b.049f78","wires":[]},{"id":"f3520309.0cae","type":"http request","name":"get db query","method":"GET","url":"http://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/_all_docs?startkey=\"{{payload.begin}}\"&endkey=\"{{payload.end}}\"&include_docs=true","x":537.0000305175781,"y":387,"z":"e5c1526b.049f78","wires":[["7292e881.8d6d18","1003d1d9.effc2e"]]},{"id":"1003d1d9.effc2e","type":"debug","name":"","active":true,"console":"false","complete":"true","x":763.0000305175781,"y":453,"z":"e5c1526b.049f78","wires":[]}]