TwitterAnalysis/TwitterInput flow.json
[{"id":"ff50fb5f.87cb3","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"add word","database":"twitter-analysis","payonly":false,"operation":"insert","x":1230.0000305175781,"y":611.0000247955322,"z":"f31d4390.5ea828","wires":[]},{"id":"2ad968dc.db4ed8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":733.9999694824219,"y":571,"z":"f31d4390.5ea828","wires":[]},{"id":"2c21fe3c.c817c2","type":"twitter in","twitter":"","tags":"Vodafone, vodafone, #Vodafone, #vodafone","user":"false","name":"Search for Vodafone","topic":"tweets","x":193.5,"y":323,"z":"f31d4390.5ea828","wires":[["4850ab49.b7af54"]]},{"id":"a10a73e7.5ef59","type":"inject","name":"","topic":"","payload":"Da,ta, hado@op li&@ke tes,t","payloadType":"string","repeat":"","crontab":"","once":false,"x":276,"y":243,"z":"f31d4390.5ea828","wires":[["8d1ab0e5.72e55"]]},{"id":"16e5948b.e91a6b","type":"function","name":"Split into words","func":"var res = msg.payload.split(\" \");\n\nfor(i=0;i<res.length;i++) {\n\tres[i]==res[i].replace(/\\W/g, '');\n}\nmsg.payload=res;\nreturn msg;","outputs":1,"x":870.9999694824219,"y":327.99999237060547,"z":"f31d4390.5ea828","wires":[["a34d99e4.5cb268","e62546c3.19dab8"]]},{"id":"6a742ae.f958bd4","type":"function","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":270.6666564941406,"y":496.66668701171875,"z":"f31d4390.5ea828","wires":[["e62546c3.19dab8"]]},{"id":"e62546c3.19dab8","type":"function","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":267.6666259765625,"y":430.66668701171875,"z":"f31d4390.5ea828","wires":[["4d1d97f1.b2e268","6a742ae.f958bd4"]]},{"id":"78dfdb98.872024","type":"json","name":"","x":1345.888916015625,"y":447.8889217376709,"z":"f31d4390.5ea828","wires":[["3d8eff91.c271"]]},{"id":"4d1d97f1.b2e268","type":"function","name":"Filter","func":"var newMsg;\nif (msg.payload.length<2) {\n\treturn null; //don't continue with single character words\n}\nmsg.payload=msg.payload.replace(/\\W/g, '');\nmsg.payload=msg.payload.toLowerCase();\nif ((msg.payload==\"to\") || (msg.payload==\"on\") || (msg.payload==\"and\") || (msg.payload==\"the\") || (msg.payload==\"rt\"))  {\n\treturn null;\n\t}\nvar msgid=\"word:\" + msg.payload;\nnewMsg ={ _id:msgid , payload:msgid , word:msg.payload, created_at:msg.tweet.created_at, sentiment:msg.sentiment.score, followers_count:msg.tweet.user.followers_count, tweet_id:[{id:msg.tweet.id_str}]};\nreturn newMsg; ","outputs":1,"x":488.888916015625,"y":422.888916015625,"z":"f31d4390.5ea828","wires":[["185d6cba.e7a293","447072a1.bb8f8c"]]},{"id":"3d8eff91.c271","type":"switch","name":"","property":"payload.error","rules":[{"t":"eq","v":"not_found"},{"t":"else"}],"checkall":"false","outputs":2,"x":256.66668701171875,"y":618.6666870117187,"z":"f31d4390.5ea828","wires":[["8b0a5f00.74f5a","b237bac0.4dc848"],["f5ef5c45.0a10a","a237f41b.5dc808"]]},{"id":"49b00f3c.b64ff","type":"template","name":"Not found","field":"payload","template":"Added word {{payload}}","x":607.5181579589844,"y":572.5228881835937,"z":"f31d4390.5ea828","wires":[["2ad968dc.db4ed8"]]},{"id":"f5ef5c45.0a10a","type":"template","name":"Found","field":"payload","template":"Found {{payload._id}}","x":473.5181884765625,"y":660.5228881835937,"z":"f31d4390.5ea828","wires":[["eaf4dbf3.150b28"]]},{"id":"8d1ab0e5.72e55","type":"function","name":"","func":"msg.tweet= {created_at:\"test\", id_str:\"1234\", id:1234};\nmsg.topic= \"tweets/Lester_Thomas\";\nmsg.location=\"Newbury UK\";\nmsg.lang=\"en\";\nreturn msg;","outputs":1,"x":450.5182189941406,"y":242.52288818359375,"z":"f31d4390.5ea828","wires":[["2008d175.dff72e","a6ed46cf.e7cb6"]]},{"id":"5673c811.a98c38","type":"http request","name":"Query database","method":"GET","url":"https://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/{{payload}}","x":1180.6666259765625,"y":434.66668701171875,"z":"f31d4390.5ea828","wires":[["b21a572c.4de5a8","78dfdb98.872024"]]},{"id":"b21a572c.4de5a8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1342.888916015625,"y":399.8889217376709,"z":"f31d4390.5ea828","wires":[]},{"id":"8b0a5f00.74f5a","type":"change","action":"replace","property":"payload","from":"","to":"msg._id","reg":false,"name":"_id","x":479.66668701171875,"y":573.666711807251,"z":"f31d4390.5ea828","wires":[["49b00f3c.b64ff"]]},{"id":"a237f41b.5dc808","type":"function","name":"Add additional tweet","func":"var newMsg;\nvar additionalTweetId=msg.tweet_id[0];\nnewMsg ={ _id:msg.payload._id ,_rev:msg.payload._rev , created_at:msg.created_at, word:msg.word, tweet_id:msg.payload.tweet_id}; //copy the record returned from the database\nnewMsg.tweet_id[newMsg.tweet_id.length]=additionalTweetId;\nif (msg.payload.followers_count) {\n\t} else {\n\tmsg.payload.followers_count=0;\n\t}\nif (msg.payload.sentiment) {\n\t} else {\n\tmsg.payload.sentiment=0;\n\t}\nnewMsg.sentiment=(msg.sentiment*2 + msg.payload.sentiment)/3; //add the new message to the score for this one\nnewMsg.followers_count=(msg.followers_count*2 + msg.payload.followers_count)/3; //add the new message to the count for this one\nnewMsg.followers_count = newMsg.followers_count | 0; //truncate\n//newMsg.payload=newMsg; //for debug\n//newMsg.tweets\nreturn newMsg; \n","outputs":1,"x":472.6666564941406,"y":702,"z":"f31d4390.5ea828","wires":[["708c96c2.8f7368","a6944c61.596bb"]]},{"id":"eaf4dbf3.150b28","type":"debug","name":"","active":false,"console":"false","complete":"false","x":599.6666564941406,"y":660.6666870117187,"z":"f31d4390.5ea828","wires":[]},{"id":"447072a1.bb8f8c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":642.6666564941406,"y":471.6666564941406,"z":"f31d4390.5ea828","wires":[]},{"id":"b237bac0.4dc848","type":"change","action":"delete","property":"payload","from":"","to":"","reg":false,"name":"remove db query response","x":502.5181884765625,"y":614.522912979126,"z":"f31d4390.5ea828","wires":[["d9710085.268f"]]},{"id":"d9710085.268f","type":"change","action":"delete","property":"statusCode","from":"","to":"","reg":false,"name":"remove dB query statusCode","x":755.5181579589844,"y":613.522912979126,"z":"f31d4390.5ea828","wires":[["ec816fe6.137e9"]]},{"id":"ec816fe6.137e9","type":"change","action":"delete","property":"headers","from":"","to":"","reg":false,"name":"remove dB query headers","x":1012.5181579589844,"y":610.522912979126,"z":"f31d4390.5ea828","wires":[["ff50fb5f.87cb3"]]},{"id":"164758d5.e9b8a7","type":"debug","name":"","active":false,"console":"false","complete":"false","x":924,"y":690,"z":"f31d4390.5ea828","wires":[]},{"id":"2008d175.dff72e","type":"function","name":"test for English","func":"if (msg.lang==\"en\") {\n\treturn msg;\n}\nreturn null;","outputs":1,"x":551,"y":326,"z":"f31d4390.5ea828","wires":[["2b4ac13f.d4b53e","a6ed46cf.e7cb6"]]},{"id":"8d3ecf85.72c13","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"add tweet","database":"twitter-analysis","payonly":false,"operation":"insert","x":1283,"y":341.99999237060547,"z":"f31d4390.5ea828","wires":[]},{"id":"bf6c63b4.4093a","type":"comment","name":"Put the tweet into the Database","info":"","x":1336,"y":296.99999237060547,"z":"f31d4390.5ea828","wires":[]},{"id":"a34d99e4.5cb268","type":"function","name":"Set the dB id","func":"msg._id=\"tweet:\" + msg.tweet.id_str;\nreturn msg;","outputs":1,"x":1118,"y":340.99999237060547,"z":"f31d4390.5ea828","wires":[["8d3ecf85.72c13"]]},{"id":"708c96c2.8f7368","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"update word","database":"twitter-analysis","payonly":false,"operation":"insert","x":709,"y":742,"z":"f31d4390.5ea828","wires":[]},{"id":"a6944c61.596bb","type":"function","name":"","func":"msg.payload=msg;\nreturn msg;","outputs":1,"x":805,"y":692,"z":"f31d4390.5ea828","wires":[["164758d5.e9b8a7"]]},{"id":"5af4094c.a50bf8","type":"inject","name":"stop injecting tweets","topic":"","payload":"stop","payloadType":"string","repeat":"","crontab":"","once":false,"x":240,"y":139,"z":"f31d4390.5ea828","wires":[["3774b453.c88b4c"]]},{"id":"3774b453.c88b4c","type":"function","name":"","func":"context.global.stopInjecting=true;\nreturn msg;","outputs":1,"x":439,"y":141,"z":"f31d4390.5ea828","wires":[[]]},{"id":"4850ab49.b7af54","type":"function","name":"stop tweets","func":"if (context.global.stopInjecting)\n{\nreturn null;\n}\nreturn msg;","outputs":1,"x":379,"y":332,"z":"f31d4390.5ea828","wires":[["2008d175.dff72e"]]},{"id":"a5c6b6a9.5a3948","type":"inject","name":"start injecting tweets","topic":"","payload":"start","payloadType":"string","repeat":"","crontab":"","once":false,"x":228,"y":183,"z":"f31d4390.5ea828","wires":[["ce2f5bf0.31d0a8"]]},{"id":"ce2f5bf0.31d0a8","type":"function","name":"","func":"context.global.stopInjecting=false;\nreturn msg;","outputs":1,"x":422,"y":183,"z":"f31d4390.5ea828","wires":[[]]},{"id":"185d6cba.e7a293","type":"http request","name":"","method":"GET","url":"http://en.wiktionary.org/w/api.php?action=query&titles={{word}}&format=json","x":650,"y":414,"z":"f31d4390.5ea828","wires":[["2d817a11.d27e86"]]},{"id":"4076bf5c.bf894","type":"function","name":"","func":"var queryString;\nqueryString=JSON.stringify(msg.payload.query);\nif (queryString.indexOf(\"missing\")==-1)\n\t{\n\tmsg.payload=msg._id;\n\t}\nelse\n\t{\n\tmsg=null;\n\t}\n\nreturn msg;","outputs":1,"x":918,"y":419,"z":"f31d4390.5ea828","wires":[["5673c811.a98c38","16da0ceb.e925f3"]]},{"id":"2d817a11.d27e86","type":"json","name":"","x":784,"y":417,"z":"f31d4390.5ea828","wires":[["4076bf5c.bf894"]]},{"id":"16da0ceb.e925f3","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1042,"y":470,"z":"f31d4390.5ea828","wires":[]},{"id":"2b4ac13f.d4b53e","type":"sentiment","name":"","x":713,"y":320,"z":"f31d4390.5ea828","wires":[["16e5948b.e91a6b"]]},{"id":"f369ba20.0c9648","type":"comment","name":"Put the word into the Database","info":"","x":1256,"y":560,"z":"f31d4390.5ea828","wires":[]},{"id":"65dac422.9a253c","type":"comment","name":"Update the word in the Database","info":"","x":836,"y":776,"z":"f31d4390.5ea828","wires":[]},{"id":"a6ed46cf.e7cb6","type":"debug","name":"","active":false,"console":"false","complete":"false","x":638.5999755859375,"y":209.8000030517578,"z":"f31d4390.5ea828","wires":[]},{"id":"117729d5.8f0d0e","type":"http request","name":"get one tweet","method":"GET","url":"http://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/_all_docs?startkey=%22tweet:%22&endkey=%22tweet:zzzz%22&limit=1&include_docs=true","x":343.666690826416,"y":1111.5555725097656,"z":"f31d4390.5ea828","wires":[["245f399d.231d96"]]},{"id":"66fbea79.fdf44c","type":"inject","name":"Test for old tweets","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":173.4444580078125,"y":1111.5555725097656,"z":"f31d4390.5ea828","wires":[["117729d5.8f0d0e"]]},{"id":"51c99fcf.9b317","type":"function","name":"","func":"var outMsg;\noutMsg=msg.payload.rows[0].doc;\nvar created_at=outMsg.tweet.created_at;\nvar daysago=(Date.now()-Date.parse(created_at))/ 86400000;\noutMsg.days_ago=daysago;\nmsg.payload=outMsg;\nmsg.tweet_id_str=outMsg.tweet.id_str;\nreturn msg;","outputs":1,"x":593.7777976989746,"y":1111.5555431842804,"z":"f31d4390.5ea828","wires":[["188f758d.9baa1a"]]},{"id":"245f399d.231d96","type":"json","name":"","x":475.44445037841797,"y":1112.2222166061401,"z":"f31d4390.5ea828","wires":[["51c99fcf.9b317","f10af06c.0ef51"]]},{"id":"ddeaddc1.78933","type":"debug","name":"","active":false,"console":"false","complete":"false","x":995.6944236755371,"y":1066.9166555404663,"z":"f31d4390.5ea828","wires":[]},{"id":"e773903c.d3b828","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"Delete tweet","database":"twitter-analysis","payonly":true,"operation":"delete","x":949.5000305175781,"y":1118.2500305175781,"z":"f31d4390.5ea828","wires":[]},{"id":"188f758d.9baa1a","type":"switch","name":"","property":"payload.days_ago","rules":[{"t":"gt","v":3,"v2":0},{"t":"else"}],"checkall":"true","outputs":2,"x":715.3333892822266,"y":1113.1111297607422,"z":"f31d4390.5ea828","wires":[["62443c6.ea76644","e773903c.d3b828"],["a47c992a.b85648"]]},{"id":"a47c992a.b85648","type":"template","name":"Keep","field":"payload","template":"Keep {{payload.days_ago}}","x":864.5000877380371,"y":1067.4166555404663,"z":"f31d4390.5ea828","wires":[["ddeaddc1.78933"]]},{"id":"7e6c9a01.22ccbc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":580.8888931274414,"y":1183.1111373901367,"z":"f31d4390.5ea828","wires":[]},{"id":"c57adf64.8a829","type":"function","name":"for each item","func":"if( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":378.666690826416,"y":1247.5555382966995,"z":"f31d4390.5ea828","wires":[["7e6c9a01.22ccbc","d3146d4a.e90bd8","a699f44c.2a4e7"]]},{"id":"62443c6.ea76644","type":"function","name":"","func":"var wordArray=msg.payload.payload;  //move the payload array of words to the payload\nmsg.payload=wordArray;\nreturn msg;","outputs":1,"x":200.8889045715332,"y":1218.6667194366455,"z":"f31d4390.5ea828","wires":[["c57adf64.8a829"]]},{"id":"14ac340f.0dadac","type":"function","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":360.88890075683593,"y":1308.6667652130127,"z":"f31d4390.5ea828","wires":[["c57adf64.8a829"]]},{"id":"529e30a9.2f1888","type":"json","name":"","x":921.5000267028809,"y":1240.7500324249267,"z":"f31d4390.5ea828","wires":[["959d265e.af2bd8","68f2f97f.970d08"]]},{"id":"d3146d4a.e90bd8","type":"function","name":"Filter","func":"var newMsg;\nmsg.payload=msg.payload.replace(/\\W/g, '');\nmsg.payload=msg.payload.toLowerCase();\nvar msgid=\"word:\" + msg.payload;\nnewMsg ={ _id:msgid , payload:msgid , word:msg.payload, tweet_id:msg.tweet_id_str};\nreturn newMsg; ","outputs":1,"x":557.0000152587891,"y":1245.750034570694,"z":"f31d4390.5ea828","wires":[["5f5872ef.762f04","c5d0c12b.4a4108"]]},{"id":"c5d0c12b.4a4108","type":"http request","name":"Query database","method":"GET","url":"https://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/{{payload}}","x":732.5277404785156,"y":1246.2777423858642,"z":"f31d4390.5ea828","wires":[["529e30a9.2f1888"]]},{"id":"959d265e.af2bd8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1013.5000267028809,"y":1189.0000314712524,"z":"f31d4390.5ea828","wires":[]},{"id":"5f5872ef.762f04","type":"debug","name":"","active":false,"console":"false","complete":"true","x":731.3611068725586,"y":1194.111116886139,"z":"f31d4390.5ea828","wires":[]},{"id":"803780c0.464b98","type":"switch","name":"","property":"payload.error","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":238.25001525878906,"y":1405.7500171661377,"z":"f31d4390.5ea828","wires":[["2bf569fd.785066"],["6913bd08.1786ac","b053e460.79c548"]]},{"id":"e793d575.9cad18","type":"debug","name":"","active":false,"console":"false","complete":"false","x":700.5000457763672,"y":1398.0002002716064,"z":"f31d4390.5ea828","wires":[]},{"id":"29374d83.9e3672","type":"template","name":"Not found","field":"payload","template":"Not found {{payload}}","x":574.0182342529297,"y":1399.5230884552002,"z":"f31d4390.5ea828","wires":[["e793d575.9cad18"]]},{"id":"2bf569fd.785066","type":"change","action":"replace","property":"payload","from":"","to":"msg._id","reg":false,"name":"_id","x":446.16676330566406,"y":1400.6669120788574,"z":"f31d4390.5ea828","wires":[["29374d83.9e3672"]]},{"id":"6fee0b9.30355f4","type":"template","name":"Found","field":"payload","template":"Found word with id {{payload._id}} and {{payload.tweet_id.length}} tweets. Need to match id {{payload.findtweetid}}.","x":597.0000114440918,"y":1471.750078201294,"z":"f31d4390.5ea828","wires":[["994deaa9.917648"]]},{"id":"994deaa9.917648","type":"debug","name":"","active":false,"console":"false","complete":"false","x":723.1484794616699,"y":1471.893877029419,"z":"f31d4390.5ea828","wires":[]},{"id":"b053e460.79c548","type":"function","name":"Remove additional tweet","func":"var newMsg;\nvar stringA;\nvar stringB;\nstringB=msg.tweet_id;\nfor (i=0;i<msg.payload.tweet_id.length;i++)\n\t{\n\tstringA=msg.payload.tweet_id[i].id;\n\tif (stringB.localeCompare(stringA)==0) {\n\t\tmsg.payload.tweet_id.splice(i,1);\n\t\treturn msg;\n\t\t}\n\t}\n\nreturn msg; ","outputs":1,"x":492.00000762939453,"y":1530.500060081482,"z":"f31d4390.5ea828","wires":[["456264eb.c457ac"]]},{"id":"14adc9be.e2f446","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"update word","database":"twitter-analysis","payonly":true,"operation":"insert","x":854.5833969116211,"y":1628.0000801086425,"z":"f31d4390.5ea828","wires":[]},{"id":"d6c4d350.b73a18","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1008.2500305175781,"y":1583.0000972747802,"z":"f31d4390.5ea828","wires":[]},{"id":"8b3112ad.46519","type":"template","name":"","field":"payload","template":"Updated word object {{payload._id}}","x":837.0000190734863,"y":1586.7500791549682,"z":"f31d4390.5ea828","wires":[["d6c4d350.b73a18"]]},{"id":"6913bd08.1786ac","type":"function","name":"","func":"msg.payload.findtweetid=msg.tweet_id;\nreturn msg;","outputs":1,"x":439.50001525878906,"y":1480.500078201294,"z":"f31d4390.5ea828","wires":[["6fee0b9.30355f4"]]},{"id":"a699f44c.2a4e7","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":219.50001525878906,"y":1308.2500171661377,"z":"f31d4390.5ea828","wires":[["14ac340f.0dadac"]]},{"id":"456264eb.c457ac","type":"switch","name":"last tweet","property":"payload.tweet_id.length","rules":[{"t":"eq","v":0,"v2":0},{"t":"else"}],"checkall":"true","outputs":2,"x":680.7500152587891,"y":1533.0000796318054,"z":"f31d4390.5ea828","wires":[["30e8855.dc3e1fa","4c94f55b.7cd88c"],["8b3112ad.46519","14adc9be.e2f446"]]},{"id":"30e8855.dc3e1fa","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"Delete word","database":"twitter-analysis","payonly":true,"operation":"delete","x":937.0000076293945,"y":1499.250060081482,"z":"f31d4390.5ea828","wires":[]},{"id":"4c94f55b.7cd88c","type":"template","name":"","field":"payload","template":"Deleted word object {{payload._id}}","x":862.0000190734863,"y":1538.0000791549682,"z":"f31d4390.5ea828","wires":[["ba1d3585.53ba4"]]},{"id":"ba1d3585.53ba4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1017.0000076293945,"y":1540.500060081482,"z":"f31d4390.5ea828","wires":[]},{"id":"4ad2c586.b52d3c","type":"inject","name":"","topic":"Test for words with no tweets","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":250.212158203125,"y":1689.8888549804687,"z":"f31d4390.5ea828","wires":[["9e1dbc66.61e24"]]},{"id":"9e1dbc66.61e24","type":"http request","name":"get db query","method":"GET","url":"http://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/_all_docs?startkey=%22word:1%22&endkey=%22word:zzzzz%22&include_docs=true","x":457.98992496066625,"y":1692.1109205440946,"z":"f31d4390.5ea828","wires":[["457d87ad.ba8278"]]},{"id":"8d91542.f726ea8","type":"function","name":"for each item","func":"\n\nif( msg.i     == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload.rows;\n\nmsg.payload = msg.items[ msg.i ];\n\nreturn msg;","outputs":1,"x":987.989921145969,"y":1695.4443079189725,"z":"f31d4390.5ea828","wires":[["9e66527f.6199b","2363329b.dc9cce","339eed69.cc6112"]]},{"id":"b54f4259.4ab0c","type":"function","name":"++","func":"if ( (msg.i += 1) < msg.items.length ) return msg;\n","outputs":1,"x":970.2121310763889,"y":1756.5555348352857,"z":"f31d4390.5ea828","wires":[["8d91542.f726ea8"]]},{"id":"9e66527f.6199b","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1204.656652238634,"y":1679.8888676961262,"z":"f31d4390.5ea828","wires":[]},{"id":"457d87ad.ba8278","type":"json","name":"","x":606.8788180881077,"y":1692.2121301845975,"z":"f31d4390.5ea828","wires":[["8d91542.f726ea8"]]},{"id":"2363329b.dc9cce","type":"function","name":"","func":"if( msg.payload.doc.tweet_id[0]     == undefined ){\n\tmsg.tweet=\"Generate Error\";\n} else {\n\tmsg.tweet=msg.payload.doc.tweet_id[0].id;\n}\n\nmsg.word=msg.payload.doc;\n\nmsg.i=undefined;\nmsg.items=undefined;\nmsg.statusCode=undefined;\nmsg.headers=undefined; \nreturn msg;","outputs":1,"x":220.2121598985459,"y":1907.5151007529366,"z":"f31d4390.5ea828","wires":[["5d73b8c1.a28c48","7c0aec51.83f514"]]},{"id":"7c0aec51.83f514","type":"debug","name":"","active":false,"console":"false","complete":"true","x":469.1010186937119,"y":1816.4040940161812,"z":"f31d4390.5ea828","wires":[]},{"id":"5d73b8c1.a28c48","type":"http request","name":"Query database","method":"GET","url":"https://91ac744b-bf49-42c0-a4b5-c09f052dfe0f-bluemix.cloudant.com/twitter-analysis/tweet:{{tweet}}","x":433.54543092515723,"y":1907.5151327010262,"z":"f31d4390.5ea828","wires":[["86afc893.795038"]]},{"id":"86afc893.795038","type":"json","name":"","x":615.767677730984,"y":1903.0706810777455,"z":"f31d4390.5ea828","wires":[["ab5d5c83.54a2a","a051f210.5fae1"]]},{"id":"ab5d5c83.54a2a","type":"debug","name":"","active":false,"console":"false","complete":"true","x":912.4343164232041,"y":1821.9596150275338,"z":"f31d4390.5ea828","wires":[]},{"id":"a051f210.5fae1","type":"switch","name":"","property":"payload.error","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":774.6565666198729,"y":1914.1817921888564,"z":"f31d4390.5ea828","wires":[["2a3c7b3c.d5c384"],["f05b346e.0fa4c8"]]},{"id":"73cf5335.8c30ac","type":"function","name":"Remove additional tweet","func":"var newMsg;\nvar stringA;\nvar stringB;\nstringB=msg.tweet;\n\nfor (i=0;i<msg.payload.tweet_id.length;i++)\n\t{\n\tstringA=msg.payload.tweet_id[i].id;\n\tif (stringB.localeCompare(stringA)==0) {\n\t\tmsg.payload.tweet_id.splice(i,1);\n\t\treturn msg;\n\t\t}\n\t}\n\nreturn msg; ","outputs":1,"x":434.65654542711036,"y":2056.9089768286812,"z":"f31d4390.5ea828","wires":[["f3b005a1.0c4ff8","aed86c1d.51279"]]},{"id":"77227949.88dd88","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"update word","database":"twitter-analysis","payonly":true,"operation":"insert","x":872.795484330919,"y":2182.1867888327706,"z":"f31d4390.5ea828","wires":[]},{"id":"b22cfde1.4dd3","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1026.462117936876,"y":2137.1868059989083,"z":"f31d4390.5ea828","wires":[]},{"id":"d7e3f5b3.281c08","type":"template","name":"","field":"payload","template":"Updated word object {{payload._id}}","x":855.2121064927842,"y":2140.9367878790963,"z":"f31d4390.5ea828","wires":[["b22cfde1.4dd3"]]},{"id":"f3b005a1.0c4ff8","type":"switch","name":"last tweet","property":"payload.tweet_id.length","rules":[{"t":"eq","v":0,"v2":0},{"t":"else"}],"checkall":"true","outputs":2,"x":698.9621026780869,"y":2087.1867883559334,"z":"f31d4390.5ea828","wires":[["61e169a3.9e1e98","c1330708.3eccf8"],["d7e3f5b3.281c08","77227949.88dd88"]]},{"id":"61e169a3.9e1e98","type":"cloudant out","service":"vdd-cloudantNoSQLDB","cloudant":"","name":"Delete word","database":"twitter-analysis","payonly":true,"operation":"delete","x":955.2120950486924,"y":2053.43676880561,"z":"f31d4390.5ea828","wires":[]},{"id":"c1330708.3eccf8","type":"template","name":"","field":"payload","template":"Deleted word object {{payload._id}}","x":880.2121064927842,"y":2092.1867878790963,"z":"f31d4390.5ea828","wires":[["749d9ddf.8b6264"]]},{"id":"749d9ddf.8b6264","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1035.2120950486924,"y":2094.68676880561,"z":"f31d4390.5ea828","wires":[]},{"id":"f05b346e.0fa4c8","type":"template","name":"","field":"payload","template":"Tweet found: ignore","x":1022.4343443976506,"y":1906.9091255221897,"z":"f31d4390.5ea828","wires":[["6ffeba2c.900144"]]},{"id":"6ffeba2c.900144","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1219.1010110643174,"y":1903.5757921888562,"z":"f31d4390.5ea828","wires":[]},{"id":"2442399f.dbbdc6","type":"debug","name":"","active":false,"console":"false","complete":"true","x":351.3232209947373,"y":2138.525340830909,"z":"f31d4390.5ea828","wires":[]},{"id":"2a3c7b3c.d5c384","type":"function","name":"","func":"msg.payload=msg.word;\nreturn msg;","outputs":1,"x":200.21212217542848,"y":2069.636347744412,"z":"f31d4390.5ea828","wires":[["2442399f.dbbdc6","73cf5335.8c30ac"]]},{"id":"aed86c1d.51279","type":"debug","name":"","active":false,"console":"false","complete":"true","x":619.1010034349229,"y":2130.747508322822,"z":"f31d4390.5ea828","wires":[]},{"id":"339eed69.cc6112","type":"delay","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":807.9899359809028,"y":1758.4747438693577,"z":"f31d4390.5ea828","wires":[["b54f4259.4ab0c"]]},{"id":"68f2f97f.970d08","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1056.0909271240234,"y":1245.727329031372,"z":"f31d4390.5ea828","wires":[["803780c0.464b98"]]},{"id":"f10af06c.0ef51","type":"debug","name":"","active":false,"console":"false","complete":"true","x":637.0909271240234,"y":1068.727329031372,"z":"f31d4390.5ea828","wires":[]},{"id":"850dbded.2de108","type":"comment","name":"The two flows below purge old tweets and their associated words from the database (after a configurable time - currently set to 24 hours)","info":"","x":538,"y":1004,"z":"f31d4390.5ea828","wires":[]}]
