Log Heat Genius to Tinamous/Log Heat Genius to Tinamous.json
[{"id":"8a14f367.75eb1","type":"mqtt-broker","broker":"lesterthomas.tinamous.com","port":"1883","clientid":""},{"id":"2874f98f.d78b06","type":"mqtt-broker","broker":"lesterthomas.tinamous.com","port":"1883","clientid":""},{"id":"a5b13d90.5a4ec","type":"mqtt-broker","broker":"lesterthomas.tinamous.com","port":"1883","clientid":""},{"id":"1982cef5.e67d31","type":"http request","name":"Query Heat Genius","method":"GET","url":"http://192.168.1.90:1223/Zone/{{payload}}?sig=d1556324bd73f71b7d73219bbbace76552ddd970e670c2e6579990981895d2f7","x":403.00000381469727,"y":170.00000190734863,"z":"21ff3e3d.de00c2","wires":[["8d573cfd.72a8c"]]},{"id":"cab60f3d.3549f","type":"debug","name":"","active":true,"console":false,"complete":false,"x":815,"y":71,"z":"21ff3e3d.de00c2","wires":[]},{"id":"501204c4.afedfc","type":"inject","name":"Lounge (Zone 1)","topic":"HGLounge","payload":"1","payloadType":"string","repeat":"60","crontab":"","once":false,"x":174.49999618530273,"y":170.5,"z":"21ff3e3d.de00c2","wires":[["1982cef5.e67d31"]]},{"id":"8d573cfd.72a8c","type":"json","name":"","x":587.2500076293945,"y":170.00000190734863,"z":"21ff3e3d.de00c2","wires":[["cab60f3d.3549f","1e7afd5b.e18503"]]},{"id":"c54a5675.3ab5a8","type":"mqtt out","name":"HGLounge","topic":"","broker":"a5b13d90.5a4ec","x":1710.8214492797852,"y":169.92855739593506,"z":"21ff3e3d.de00c2","wires":[]},{"id":"ae3441c9.51cbc","type":"template","name":"Filter Temperature","template":"{{payload.datapoints.0.value}}","x":1050.9999465942383,"y":168.60713863372803,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","4fda3744.b025c8"]]},{"id":"8c7f4654.7380b8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1300.7142639160156,"y":463.57144260406494,"z":"21ff3e3d.de00c2","wires":[]},{"id":"63d67bc.f9c2984","type":"mqtt out","name":"HGBedroom1","topic":"","broker":"2874f98f.d78b06","x":1718.0714263916016,"y":258.74999809265137,"z":"21ff3e3d.de00c2","wires":[]},{"id":"76506ed6.89af9","type":"template","name":"Filter Activity","template":"{{payload.datapoints.4.value}}","x":1032.9999313354492,"y":207.85713577270508,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","a3274897.5cd8b8"]]},{"id":"60d104a.f9f2efc","type":"mqtt out","name":"HGBedroom2","topic":"","broker":"8a14f367.75eb1","x":1718.6428298950195,"y":348.74998569488525,"z":"21ff3e3d.de00c2","wires":[]},{"id":"6ea8ce0.f91573","type":"template","name":"Filter Luminance","template":"{{payload.datapoints.3.value}}","x":1045.9999313354492,"y":247.85713577270508,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","ab4644da.54b9b8"]]},{"id":"e0070f07.1ff8f","type":"template","name":"Filter Valve","template":"{{payload.datapoints.1.value}}","x":1028.9999313354492,"y":287.8571357727051,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","7d03065d.82fcf8"]]},{"id":"6612e3f8.99ed1c","type":"template","name":"Filter Controller","template":"{{payload.datapoints.2.value}}","x":1043.9999313354492,"y":328.8571357727051,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","62e412fc.9d1bec"]]},{"id":"d85c715f.27a39","type":"template","name":"Filter Sensitivity","template":"{{payload.datapoints.5.value}}","x":1044.9999389648438,"y":368.0000057220459,"z":"21ff3e3d.de00c2","wires":[["8c7f4654.7380b8","d73f8cf3.28c07"]]},{"id":"c1da1e21.3e25e","type":"inject","name":"Master Bedroom (Zone 3)","topic":"HGBedroom1","payload":"3","payloadType":"string","repeat":"60","crontab":"","once":false,"x":146.49999618530273,"y":219.5,"z":"21ff3e3d.de00c2","wires":[["1982cef5.e67d31"]]},{"id":"25ed2b7d.da12d4","type":"inject","name":"Kids Bedroom (Zone 4)","topic":"HGBedroom2","payload":"4","payloadType":"string","repeat":"60","crontab":"","once":false,"x":160.49999618530273,"y":266.5,"z":"21ff3e3d.de00c2","wires":[["1982cef5.e67d31"]]},{"id":"4fda3744.b025c8","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field1","reg":false,"name":"Temperature = Field 1","x":1327.1427993774414,"y":168.9285707473755,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"24504679.dbafba","type":"switch","name":"","property":"strName","rules":[{"t":"cont","v":"Lounge"},{"t":"cont","v":"Master Bedroom"},{"t":"cont","v":"Kids Bedroom"}],"checkall":"true","outputs":3,"x":1552.321403503418,"y":258.7499942779541,"z":"21ff3e3d.de00c2","wires":[["c54a5675.3ab5a8","23718a60.dc8e76"],["63d67bc.f9c2984","d510e2.ff2aef2"],["60d104a.f9f2efc","6d975ac1.9268a4"]]},{"id":"1e7afd5b.e18503","type":"change","action":"replace","property":"strName","from":"","to":"msg.payload.strName","reg":false,"name":"Remember strName","x":800.3571472167969,"y":170.00001907348633,"z":"21ff3e3d.de00c2","wires":[["ae3441c9.51cbc","76506ed6.89af9","6ea8ce0.f91573","e0070f07.1ff8f","6612e3f8.99ed1c","d85c715f.27a39"]]},{"id":"a3274897.5cd8b8","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field2","reg":false,"name":"Activity = Field 2","x":1308.5713348388672,"y":207.1428451538086,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"ab4644da.54b9b8","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field3","reg":false,"name":"Luminance = Field 3","x":1321.4284629821777,"y":247.14286613464355,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"7d03065d.82fcf8","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field4","reg":false,"name":"Valve = Field 4","x":1307.1427993774414,"y":287.1429042816162,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"62e412fc.9d1bec","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field5","reg":false,"name":"Controller = Field 5","x":1321.428638458252,"y":327.1428470611572,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"d73f8cf3.28c07","type":"change","action":"replace","property":"topic","from":"","to":"/Tinamous/V1/Measurements/0/Field6","reg":false,"name":"Sensitivity = Field 6","x":1324.2857856750488,"y":367.14288997650146,"z":"21ff3e3d.de00c2","wires":[["24504679.dbafba"]]},{"id":"23718a60.dc8e76","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1717.1427917480469,"y":207.1428508758545,"z":"21ff3e3d.de00c2","wires":[]},{"id":"d510e2.ff2aef2","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1719.9999351501465,"y":295.71429347991943,"z":"21ff3e3d.de00c2","wires":[]},{"id":"6d975ac1.9268a4","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1719.9999198913574,"y":387.14282512664795,"z":"21ff3e3d.de00c2","wires":[]}]