Twilio sms/Twilio sms Flow.JSON
[{"id":"10f29312.ef0d6d","type":"http in","name":"TwilioSMS Web","url":"/twiliosms","method":"get","x":128,"y":48,"z":"12bbaa43.ed4456","wires":[["a086a523.5f7958","b3c285d5.4c3d78"]]},{"id":"a086a523.5f7958","type":"function","name":"Process SMS","func":"// Process SMS request and create response\n// If SMS starts with READ (match is case insensitive) then use rest to access\n// a global context to read a previously stored value from a sensor\n// If READ not found then just returns what you sent\nvar responseMsg = \"\";\nvar smsMsg = msg.req.query.Body;\nif( smsMsg.substr(0,4).toUpperCase() == \"READ\" ) {\n\tvar name = smsMsg.substr(4).trim();\n\tvar reading = context.global[name];\n\tresponseMsg = name + \": \" + reading;\n} else {\n\tresponseMsg = \"You sent this SMS to Lesters Raspberry Pi: \" + msg.req.query.Body;\n\tresponseMsg = responseMsg+\". Last heartbeat: \" + context.global.lastHeartbeat;\n}\n\n// Create JSON object for payload response\nvar messageObj = { \"Message\": responseMsg } ;\n\n// Need to return received msg object, but with new payload\nmsg.payload = messageObj;\nreturn msg;","outputs":"1","x":357,"y":56,"z":"12bbaa43.ed4456","wires":[["17fbe51.fe8041b","f2abeebb.0d541","449de3b.fbb621c"]]},{"id":"17fbe51.fe8041b","type":"json2xml","name":"J2XML TwiML Response","root":"Response","x":630,"y":60,"z":"12bbaa43.ed4456","wires":[["f6e1fc60.091e"]]},{"id":"f6e1fc60.091e","type":"http response","name":"Send TwiML","x":877,"y":57,"z":"12bbaa43.ed4456","wires":[]},{"id":"f2abeebb.0d541","type":"debug","name":"","active":true,"console":false,"complete":false,"x":624,"y":187,"z":"12bbaa43.ed4456","wires":[]},{"id":"a4a0a910.5b5f58","type":"twitter out","twitter":"","name":"Tweet","x":876,"y":111,"z":"12bbaa43.ed4456","wires":[]},{"id":"449de3b.fbb621c","type":"template","name":"Parse to text","template":" {{payload.Message}}","x":641,"y":121,"z":"12bbaa43.ed4456","wires":[["c90b591.f36f4a8","a4a0a910.5b5f58"]]},{"id":"c90b591.f36f4a8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":874,"y":187,"z":"12bbaa43.ed4456","wires":[]},{"id":"b3c285d5.4c3d78","type":"debug","name":"","active":true,"console":false,"complete":false,"x":379,"y":155,"z":"12bbaa43.ed4456","wires":[]}]