SentimentMeasure/Sentiment Flow.JSON
[{"id":"af30674b.50cf98","type":"websocket-listener","path":"/ws/sentiment","wholemsg":"false"},{"id":"e6dbfa33.192408","type":"websocket out","name":"","server":"af30674b.50cf98","x":932.6665954589844,"y":281.99999237060547,"z":"8e0734a0.71f8c8","wires":[]},{"id":"26b7cc10.d94834","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nif (context.global.sentiment==null) {\n\tcontext.global.sentiment={};\n}\nvar sentimentObject=\n\ncontext.global.sentiment[msg.payload.id]={ value:msg.payload.sentiment, lastUpdate:Date.now()};\nvar total=0;\nvar count=0;\n\nObject.getOwnPropertyNames(context.global.sentiment).forEach(function(element) {\n\t\t\tif (element==\"average\") {\n\t\t\t} else {\n\t\t\t\tvar lastUpdate=parseFloat(context.global.sentiment[element].lastUpdate);\n\t\t\t\tvar deltaTime=Date.now() - lastUpdate;\n\t\t\t\tif (deltaTime>5000) {\n\t\t\t\t\tdelete context.global.sentiment[element];\t\t\t\t\n\t\t\t\t} else {\n\t\t\t\t\ttotal=total+parseFloat(context.global.sentiment[element].value);\n\t\t\t\t\tcount++;\n\t\t\t\t}\n\t\t\t}\n\t\t});\nif (count>0) {\n\tcontext.global.sentiment.average=total/count;\n\t} else {\n\tcontext.global.sentiment.average=50;\n\t}\n\t\t\n\n\nmsg.payload=context.global.sentiment;\n\nreturn msg;","outputs":1,"x":685.3265075683594,"y":191.3399887084961,"z":"8e0734a0.71f8c8","wires":[["72c0d277.8d3f2c","e6dbfa33.192408"]]},{"id":"ec253fb3.13dac","type":"websocket in","name":"","server":"af30674b.50cf98","x":471.3265380859375,"y":323.3399887084961,"z":"8e0734a0.71f8c8","wires":[["a08c4388.5f73c"]]},{"id":"a08c4388.5f73c","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.sentiment;\nreturn msg; ","outputs":1,"x":692.3265380859375,"y":323.3399963378906,"z":"8e0734a0.71f8c8","wires":[["e6dbfa33.192408","feb27d13.014d8"]]},{"id":"851f56b7.7ae0a8","type":"template","name":"Web Page for Master","field":"","template":"<!doctype html>\n<html class=\"no-js\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Sentiment</title>\n    <meta name=\"description\" content=\"\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n  </head>\n<body> \n\t<div style=\" height:100%;\" id=\"pageDiv\" >\n\t    <div class=\"container\" >\n\t      <div class=\"header\">\n\n\t        <h3 class=\"text-muted\">Sentiment</h3>\n\t      </div>\n\t\t  <div id=\"sentimentTextarea\"></div>\n\t\t\t\n\t\t </div>\n\t\t <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>\n\t  </div>\n  </div>\n  \n  <script src=\"//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n  var socketaddy = \"ws://localhost:1880/ws/sentiment\";\n    //var peopleArray=[];\n    var sock;\n\tvar sentimentObject;\n    $(document).ready(function(){\n      sock = new WebSocket(socketaddy); \n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n      \t//alert(evt.data);\n        sentimentObject = JSON.parse(evt.data);\n        //peopleArray.push(person);\n        //var theHtml=\"<div style=\\\"top: \"+((peopleArray.length*100))+ \"px;\\\" class=\\\"person\\\"><span class=\\\"children\\\">Name: &nbsp;<span class=\\\"textdisplayname\\\">\" + person.id + \"</span>&nbsp;&nbsp; Answer: &nbsp;<span class=\\\"textdisplay\\\" >\" + person.sentiment + \"</span></span></div>\";\n        var sentimentText=JSON.stringify(sentimentObject);\n        var total=0;\n\t\tObject.getOwnPropertyNames(sentimentObject).forEach(function(element) {\n\t\t\ttotal=total+1;\n\t\t});\n        \n        $(\"#sentimentTextarea\").html(sentimentText+ ' ' );\n\t\t\tvar r,g,b;\n\t\t\tvar inValue=sentimentObject.average;\n\t\t\tr=inValue*5;\n\t\t\tg= 255+(250-inValue*5);\n\t\t\tb=40;\n\t\t\tif (r>255) r=255;\n\t\t\tif (g>255) g=255;\t\t\t\n\t\t\tif (r<0) r=0;\n\t\t\tif (g<0) g=0;\n\t\t\t\n\t\t\t$('#pageDiv').css('background-color', 'rgb(' + r + ',' + g + ',' + b + ')');\n        }\n\t});\n   \n\n\n  </script>\n  \n    \n\t\n\n\t\n</body>\n</html>","x":713.3265075683594,"y":576.3400497436523,"z":"8e0734a0.71f8c8","wires":[["d97da727.268258"]]},{"id":"d97da727.268258","type":"http response","name":"","x":897.3265075683594,"y":576.3400497436523,"z":"8e0734a0.71f8c8","wires":[]},{"id":"c655afe9.39aa5","type":"http in","name":"","url":"/sentiment","method":"get","x":490.3265075683594,"y":576.3400802612305,"z":"8e0734a0.71f8c8","wires":[["851f56b7.7ae0a8"]]},{"id":"501d42b6.afe2bc","type":"http in","name":"","url":"/api/submitSentiment","method":"get","x":444.6665954589844,"y":111.67001342773438,"z":"8e0734a0.71f8c8","wires":[["8e171780.71e8e8","26b7cc10.d94834"]]},{"id":"8e171780.71e8e8","type":"http response","name":"","x":861.32666015625,"y":112.00999450683594,"z":"8e0734a0.71f8c8","wires":[]},{"id":"6decc922.921338","type":"template","name":"Web Page for Client","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\">\n<script src=\"http://code.jquery.com/jquery-1.11.2.min.js\"></script>\n<script src=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n<style type=text/css>\n    input.ui-slider-input {\n        display : none !important;\n    }\n</style>\n</head>\n<body>\n\n<div data-role=\"page\" id=\"pageDiv\" style=\"background-color: #FFFF28;\">\n  <div data-role=\"header\">\n    <span style=\"float:left;\"><h1>&nbsp;Cool</h1></span>\n\t<span  style=\"float:right;\"><h1>Scary&nbsp;</h1></span>\n  </div>\n  <div><br/><br/><br/><br/><br/><br/></div>\n  <div data-role=\"main\" class=\"ui-content\">\n\n      <input type=\"range\" name=\"points\" id=\"points\" onchange=\"sliderValueChanged(this.value);\" value=\"50\" min=\"0\" max=\"100\">\n\n  </div>\n</div>\n\n\n\n\n\n\n\n\n\t<script>\n\t\tvar sentimentid= Date.now();  //unique id for this client\n\t\t\n\t\tvar outputJSON={};\n\t\toutputJSON.id=sentimentid;\n\t\toutputJSON.sentiment=50;\n\t\t\n\t\tfunction sliderValueChanged(inValue){\n\t\t\tvar r,g,b;\n\t\t\tr=inValue*5;\n\t\t\tg= 255+(250-inValue*5);\n\t\t\tb=40;\n\t\t\tif (r>255) r=255;\n\t\t\tif (g>255) g=255;\t\t\t\n\t\t\tif (r<0) r=0;\n\t\t\tif (g<0) g=0;\n\t\t\t\n\t\t\t$('#pageDiv').css('background-color', 'rgb(' + r + ',' + g + ',' + b + ')');\n\t\t\toutputJSON={};\n\t\t\toutputJSON.id=sentimentid;\n\t\t\toutputJSON.sentiment=inValue;\n\t\t\t\n\t\t}\n\t\t\n\t\tfunction submitJSON(){\n\t\t\tvar httpGet=\"http://localhost:1880/api/submitSentiment?id=\" + outputJSON.id + \"&sentiment=\" + outputJSON.sentiment;\n\t\t\t$.get( httpGet );\n\n\t\t}\n\t\t\n\t\tsetInterval(function(){ submitJSON(); },1000);\n\t</script>\n\n\n\n</body>\n</html>\n","x":705.3264770507812,"y":631.670036315918,"z":"8e0734a0.71f8c8","wires":[["ea7fac33.15805"]]},{"id":"ea7fac33.15805","type":"http response","name":"","x":903.3264770507812,"y":630.670036315918,"z":"8e0734a0.71f8c8","wires":[]},{"id":"9acfc260.65304","type":"http in","name":"","url":"/client","method":"get","x":488.32647705078125,"y":631.6700668334961,"z":"8e0734a0.71f8c8","wires":[["6decc922.921338"]]},{"id":"49eedd4f.b61124","type":"comment","name":"Client calls this GET method to submit its Sentiment","info":"","x":523.99658203125,"y":60,"z":"8e0734a0.71f8c8","wires":[]},{"id":"9976d4.ff66893","type":"comment","name":"Sentiment Master uses a websocket to receive instant notificaiton of any answers","info":"","x":505.99658203125,"y":275,"z":"8e0734a0.71f8c8","wires":[]},{"id":"72c0d277.8d3f2c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":860.3332824707031,"y":191.6666488647461,"z":"8e0734a0.71f8c8","wires":[]},{"id":"feb27d13.014d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":855.3333231608074,"y":362.66666412353516,"z":"8e0734a0.71f8c8","wires":[]},{"id":"627aebcf.9d8514","type":"inject","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":475.6665954589844,"y":733.6667098999023,"z":"8e0734a0.71f8c8","wires":[["d21d655a.2de298"]]},{"id":"d21d655a.2de298","type":"function","name":"","func":"context.global.sentiment={};\nreturn msg;","outputs":1,"x":646.6665954589844,"y":733.6667098999023,"z":"8e0734a0.71f8c8","wires":[["518db6ef.ae7248"]]},{"id":"518db6ef.ae7248","type":"debug","name":"","active":false,"console":"false","complete":"false","x":811.6665954589844,"y":734.6667098999023,"z":"8e0734a0.71f8c8","wires":[]},{"id":"9d0c69c1.62f398","type":"http in","name":"","url":"/getSentiment","method":"get","x":475.6666259765625,"y":447.6666488647461,"z":"8e0734a0.71f8c8","wires":[["518a186e.ae75e8"]]},{"id":"f1ad5dd6.0e52a","type":"http response","name":"","x":844.6666564941406,"y":446.6666488647461,"z":"8e0734a0.71f8c8","wires":[]},{"id":"518a186e.ae75e8","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.sentiment;\nreturn msg; ","outputs":1,"x":674.6666259765625,"y":447.6666564941406,"z":"8e0734a0.71f8c8","wires":[["f1ad5dd6.0e52a"]]},{"id":"7c91a0d.f836e6","type":"comment","name":"API access to sentiment JSON","info":"","x":510.6666259765625,"y":384.6666488647461,"z":"8e0734a0.71f8c8","wires":[]},{"id":"64cd0d1d.9b32f4","type":"comment","name":"HTML client and sentiment display","info":"","x":526.6665954589844,"y":514.6666793823242,"z":"8e0734a0.71f8c8","wires":[]},{"id":"603abf97.9fc54","type":"comment","name":"Reset sentiment","info":"","x":534.6666259765625,"y":678.6666870117188,"z":"8e0734a0.71f8c8","wires":[]}]
