SentimentMeasure/Sentiment Flow.JSON
[{"id":"b1b1b15f.4e4e5","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"96afc783.695038","type":"websocket out","name":"","server":"b1b1b15f.4e4e5","x":708.1700134277344,"y":269.99999237060547,"z":"e8b5f5fe.174a08","wires":[]},{"id":"d9370f7e.26c8f","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nif (context.global.sentiment==null) {\n\tcontext.global.sentiment={};\n}\nvar sentimentObject=\n\ncontext.global.sentiment[msg.payload.id]={ value:msg.payload.sentiment, lastUpdate:Date.now()};\nvar total=0;\nvar count=0;\n\nObject.getOwnPropertyNames(context.global.sentiment).forEach(function(element) {\n\t\t\tif (element==\"average\") {\n\t\t\t} else {\n\t\t\t\tvar lastUpdate=parseFloat(context.global.sentiment[element].lastUpdate);\n\t\t\t\tvar deltaTime=Date.now() - lastUpdate;\n\t\t\t\tif (deltaTime>5000) {\n\t\t\t\t\tdelete context.global.sentiment[element];\t\t\t\t\n\t\t\t\t} else {\n\t\t\t\t\ttotal=total+parseFloat(context.global.sentiment[element].value);\n\t\t\t\t\tcount++;\n\t\t\t\t}\n\t\t\t}\n\t\t});\nif (count>0) {\n\tcontext.global.sentiment.average=total/count;\n\t} else {\n\tcontext.global.sentiment.average=50;\n\t}\n\t\t\n\n\nmsg.payload=context.global.sentiment;\n\nreturn msg;","outputs":1,"x":460.8299255371094,"y":179.3399887084961,"z":"e8b5f5fe.174a08","wires":[["366fc26d.c9903e","96afc783.695038"]]},{"id":"8916ab3a.76e958","type":"websocket in","name":"","server":"b1b1b15f.4e4e5","x":246.8299560546875,"y":311.3399887084961,"z":"e8b5f5fe.174a08","wires":[["2736e387.d8c91c"]]},{"id":"2736e387.d8c91c","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.sentiment;\nreturn msg; ","outputs":1,"x":467.8299560546875,"y":311.3399963378906,"z":"e8b5f5fe.174a08","wires":[["96afc783.695038","fe3e3eba.01c1c"]]},{"id":"c2eba2f5.3d146","type":"template","name":"Web Page for Master","field":"","template":"<!doctype html>\n<html class=\"no-js\">\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Sentiment</title>\n    <meta name=\"description\" content=\"\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n  </head>\n<body> \n\t<div style=\" height:100%;\" id=\"pageDiv\" >\n\t    <div class=\"container\" >\n\t      <div class=\"header\">\n\n\t        <h3 class=\"text-muted\">Sentiment</h3>\n\t      </div>\n\t\t  <div id=\"sentimentTextarea\"></div>\n\t\t\t\n\t\t </div>\n\t\t <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>\n\t  </div>\n  </div>\n  \n  <script src=\"//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n  var socketaddy = \"wss://sentiment.eu-gb.mybluemix.net/ws/receive\";\n    //var peopleArray=[];\n    var sock;\n\tvar sentimentObject;\n    $(document).ready(function(){\n      sock = new WebSocket(socketaddy); \n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n      \t//alert(evt.data);\n        sentimentObject = JSON.parse(evt.data);\n        //peopleArray.push(person);\n        //var theHtml=\"<div style=\\\"top: \"+((peopleArray.length*100))+ \"px;\\\" class=\\\"person\\\"><span class=\\\"children\\\">Name: &nbsp;<span class=\\\"textdisplayname\\\">\" + person.id + \"</span>&nbsp;&nbsp; Answer: &nbsp;<span class=\\\"textdisplay\\\" >\" + person.sentiment + \"</span></span></div>\";\n        var sentimentText=JSON.stringify(sentimentObject);\n        var total=0;\n\t\tObject.getOwnPropertyNames(sentimentObject).forEach(function(element) {\n\t\t\ttotal=total+1;\n\t\t});\n        \n        $(\"#sentimentTextarea\").html(sentimentText+ ' ' );\n\t\t\tvar r,g,b;\n\t\t\tvar inValue=sentimentObject.average;\n\t\t\tr=inValue*5;\n\t\t\tg= 255+(250-inValue*5);\n\t\t\tb=40;\n\t\t\tif (r>255) r=255;\n\t\t\tif (g>255) g=255;\t\t\t\n\t\t\tif (r<0) r=0;\n\t\t\tif (g<0) g=0;\n\t\t\t\n\t\t\t$('#pageDiv').css('background-color', 'rgb(' + r + ',' + g + ',' + b + ')');\n        }\n\t});\n   \n\n\n  </script>\n  \n    \n\t\n\n\t\n</body>\n</html>","x":488.8299255371094,"y":564.3400497436523,"z":"e8b5f5fe.174a08","wires":[["dc326d6.f23cd9"]]},{"id":"dc326d6.f23cd9","type":"http response","name":"","x":672.8299255371094,"y":564.3400497436523,"z":"e8b5f5fe.174a08","wires":[]},{"id":"716aa9b3.8e9558","type":"http in","name":"","url":"/sentiment","method":"get","x":265.8299255371094,"y":564.3400802612305,"z":"e8b5f5fe.174a08","wires":[["c2eba2f5.3d146","56fae21d.a9051c"]]},{"id":"bb556053.44aaa","type":"http in","name":"","url":"/api/submitSentiment","method":"get","x":220.17001342773438,"y":99.67001342773438,"z":"e8b5f5fe.174a08","wires":[["dbb991c5.24467","d9370f7e.26c8f"]]},{"id":"dbb991c5.24467","type":"http response","name":"","x":636.830078125,"y":100.00999450683594,"z":"e8b5f5fe.174a08","wires":[]},{"id":"3307d023.ccf83","type":"template","name":"Web Page for Client","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css\">\n<script src=\"http://code.jquery.com/jquery-1.11.2.min.js\"></script>\n<script src=\"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js\"></script>\n<style type=text/css>\n    input.ui-slider-input {\n        display : none !important;\n    }\n</style>\n</head>\n<body>\n\n<div data-role=\"page\" id=\"pageDiv\" style=\"background-color: #FFFF28;\">\n  <div data-role=\"header\">\n    <span style=\"float:left;\"><h1>&nbsp;Cool</h1></span>\n\t<span  style=\"float:right;\"><h1>Scary&nbsp;</h1></span>\n  </div>\n  <div><br/><br/><br/><br/><br/><br/></div>\n  <div data-role=\"main\" class=\"ui-content\">\n\n      <input type=\"range\" name=\"points\" id=\"points\" onchange=\"sliderValueChanged(this.value);\" value=\"50\" min=\"0\" max=\"100\">\n\n  </div>\n</div>\n\n\n\n\n\n\n\n\n\t<script>\n\t\tvar sentimentid= Date.now();  //unique id for this client\n\t\t\n\t\tvar outputJSON={};\n\t\toutputJSON.id=sentimentid;\n\t\toutputJSON.sentiment=50;\n\t\t\n\t\tfunction sliderValueChanged(inValue){\n\t\t\tvar r,g,b;\n\t\t\tr=inValue*5;\n\t\t\tg= 255+(250-inValue*5);\n\t\t\tb=40;\n\t\t\tif (r>255) r=255;\n\t\t\tif (g>255) g=255;\t\t\t\n\t\t\tif (r<0) r=0;\n\t\t\tif (g<0) g=0;\n\t\t\t\n\t\t\t$('#pageDiv').css('background-color', 'rgb(' + r + ',' + g + ',' + b + ')');\n\t\t\toutputJSON={};\n\t\t\toutputJSON.id=sentimentid;\n\t\t\toutputJSON.sentiment=inValue;\n\t\t\t\n\t\t}\n\t\t\n\t\tfunction submitJSON(){\n\t\t\tvar httpGet=\"/api/submitSentiment?id=\" + outputJSON.id + \"&sentiment=\" + outputJSON.sentiment;\n\t\t\t$.get( httpGet );\n\n\t\t}\n\t\t\n\t\tsetInterval(function(){ submitJSON(); },1000);\n\t</script>\n\n\n\n</body>\n</html>\n","x":480.82989501953125,"y":619.670036315918,"z":"e8b5f5fe.174a08","wires":[["13756095.ec8a9f"]]},{"id":"13756095.ec8a9f","type":"http response","name":"","x":678.8298950195312,"y":618.670036315918,"z":"e8b5f5fe.174a08","wires":[]},{"id":"6850e286.97af1c","type":"http in","name":"","url":"/client","method":"get","x":263.82989501953125,"y":619.6700668334961,"z":"e8b5f5fe.174a08","wires":[["3307d023.ccf83","56fae21d.a9051c"]]},{"id":"b7ba7f71.48458","type":"comment","name":"Client calls this GET method to submit its Sentiment","info":"","x":299.5,"y":48,"z":"e8b5f5fe.174a08","wires":[]},{"id":"ea9e5521.1561a8","type":"comment","name":"Sentiment Master uses a websocket to receive instant notificaiton of any answers","info":"","x":281.5,"y":263,"z":"e8b5f5fe.174a08","wires":[]},{"id":"366fc26d.c9903e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":635.8367004394531,"y":179.6666488647461,"z":"e8b5f5fe.174a08","wires":[]},{"id":"fe3e3eba.01c1c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":630.8367411295574,"y":350.66666412353516,"z":"e8b5f5fe.174a08","wires":[]},{"id":"419dc7f7.be6238","type":"inject","name":"Reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":251.17001342773438,"y":721.6667098999023,"z":"e8b5f5fe.174a08","wires":[["656817b1.9a97e8"]]},{"id":"656817b1.9a97e8","type":"function","name":"","func":"context.global.sentiment={};\nreturn msg;","outputs":1,"x":422.1700134277344,"y":721.6667098999023,"z":"e8b5f5fe.174a08","wires":[["14bdb866.eb4248"]]},{"id":"14bdb866.eb4248","type":"debug","name":"","active":false,"console":"false","complete":"false","x":587.1700134277344,"y":722.6667098999023,"z":"e8b5f5fe.174a08","wires":[]},{"id":"b31c0f33.4ce3f","type":"http in","name":"","url":"/getSentiment","method":"get","x":251.1700439453125,"y":435.6666488647461,"z":"e8b5f5fe.174a08","wires":[["f40e7603.0bf188"]]},{"id":"a3bc53f0.5c43b","type":"http response","name":"","x":620.1700744628906,"y":434.6666488647461,"z":"e8b5f5fe.174a08","wires":[]},{"id":"f40e7603.0bf188","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.sentiment;\nreturn msg; ","outputs":1,"x":450.1700439453125,"y":435.6666564941406,"z":"e8b5f5fe.174a08","wires":[["a3bc53f0.5c43b"]]},{"id":"df0f4694.20f0b8","type":"comment","name":"API access to sentiment JSON","info":"","x":286.1700439453125,"y":372.6666488647461,"z":"e8b5f5fe.174a08","wires":[]},{"id":"35967546.ca698a","type":"comment","name":"HTML client and sentiment display","info":"","x":302.1700134277344,"y":502.6666793823242,"z":"e8b5f5fe.174a08","wires":[]},{"id":"47d2a186.b82d6","type":"comment","name":"Reset sentiment","info":"","x":310.1700439453125,"y":666.6666870117188,"z":"e8b5f5fe.174a08","wires":[]},{"id":"56fae21d.a9051c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":575.0000114440918,"y":512.5000076293945,"z":"e8b5f5fe.174a08","wires":[]}]